Repository codice/ddf, pull requests merged in 2019-12, with the labels that each got.

#5608 DDF-5606 Standardized references to 'resources' in documentation
  distribution/docs/src/main/resources/content/_architectures/_catalogFrameworks/catalog-api.adoc
  distribution/docs/src/main/resources/content/_architectures/_catalogFrameworks/catalog-framework-intro.adoc
  distribution/docs/src/main/resources/content/_architectures/_data/data-intro.adoc
  distribution/docs/src/main/resources/content/_architectures/_plugins/filter-plugin.adoc
  distribution/docs/src/main/resources/content/_architectures/_plugins/metacard-resource-size-plugin.adoc
  distribution/docs/src/main/resources/content/_architectures/_plugins/metacard-validity-marker.adoc
  distribution/docs/src/main/resources/content/_architectures/_resources/resource-components-intro.adoc
  distribution/docs/src/main/resources/content/_architectures/_resources/resource-writers-intro.adoc
  distribution/docs/src/main/resources/content/_architectures/_resources/url-resource-reader.adoc
  distribution/docs/src/main/resources/content/_architectures/_transformers/kml-metacard-xformer.adoc
  distribution/docs/src/main/resources/content/_architectures/_transformers/kml-queryresp-xformer.adoc
  distribution/docs/src/main/resources/content/_architectures/_transformers/mime-type-mapper-intro.adoc
  distribution/docs/src/main/resources/content/_architectures/_transformers/resource-metacard-xformer.adoc
  distribution/docs/src/main/resources/content/_developing/_devComponents/custom-action-components.adoc
  distribution/docs/src/main/resources/content/_developing/_devComponents/custom-catalog-frameworks.adoc
  distribution/docs/src/main/resources/content/_developing/_devComponents/custom-endpoints.adoc
  distribution/docs/src/main/resources/content/_developing/_devComponents/custom-resource-readers.adoc
  distribution/docs/src/main/resources/content/_introduction/_coreConcepts/federation-intro.adoc
  distribution/docs/src/main/resources/content/_introduction/_coreConcepts/ingest-intro.adoc
  distribution/docs/src/main/resources/content/_introduction/_coreConcepts/metadata-intro.adoc
  distribution/docs/src/main/resources/content/_managing/_configuring/catalog-filtering.adoc
  distribution/docs/src/main/resources/content/_managing/_configuring/configuring-product-caching.adoc
  distribution/docs/src/main/resources/content/_managing/_configuring/content-directory-monitor.adoc
  distribution/docs/src/main/resources/content/_managing/_configuring/environment-hardening.adoc
  distribution/docs/src/main/resources/content/_managing/_configuring/uploading-and-editing.adoc
  distribution/docs/src/main/resources/content/_managing/_installing/high-availability-initial-setup-exceptions.adoc
  distribution/docs/src/main/resources/content/_managing/_running/ui-ingest.adoc
  distribution/docs/src/main/resources/content/_metadataReference/associations-attributes-table.adoc
  distribution/docs/src/main/resources/content/_reference/_tables/catalog.ui.adoc
  distribution/docs/src/main/resources/content/_using/ui-uploading.adoc
  distribution/docs/src/main/resources/content/_using/using-intrigue-intro.adoc
  distribution/docs/src/main/resources/content/_using/using-simple-search-ui.adoc
  distribution/docs/src/main/resources/content/_using/viewing-results.adoc
Labels: :book: Documentation, docs-content, 👞Bug Fix

#5580 DDF-5573 Upgraded dumbster to 1.7.1
  platform/email/platform-email-impl/pom.xml
  platform/email/platform-email-impl/src/test/java/org/codice/ddf/platform/email/impl/SmtpClientImplITCaseTest.java
  pom.xml
Labels: ⬆️ Dependency Upgrade

#5657 DDF-5655 Corrects location of solr log4j configuration script in start scripts
  distribution/solr-distro/src/main/resources/bin/solr
  distribution/solr-distro/src/main/resources/bin/solr.cmd
Labels: 👞Bug Fix

#5656 [2.21.x] DDF-5655 Corrects location of solr log4j configuration script in start scripts
  distribution/solr-distro/src/main/resources/bin/solr
  distribution/solr-distro/src/main/resources/bin/solr.cmd
Labels: 👞Bug Fix

#5644 [2.21.x] DDF-5642 Upgrading versions for Jackson, Shiro, and thirdparty
  catalog/catalog-app/src/main/resources/features.xml
  catalog/core/catalog-core-directorymonitor/pom.xml
  catalog/core/catalog-core-solr/pom.xml
  catalog/spatial/spatial-app/src/main/resources/features.xml
  dependency-check-maven-config.xml
  distribution/solr-distro/pom.xml
  features/camel/src/main/feature/feature.xml
  features/cxf/src/main/feature/feature.xml
  features/pom.xml
  features/security/src/main/feature/feature.xml
  platform/security/platform-security-core-api/pom.xml
  pom.xml
Labels: ⬆️ Dependency Upgrade

#5650 DDF-5541 removed docs content for ddf-registry.
  distribution/docs/src/main/resources/content/_architectures/_plugins/identification-plugin.adoc
  distribution/docs/src/main/resources/content/_architectures/_plugins/registry-policy-plugin.adoc
  distribution/docs/src/main/resources/content/_architectures/_transformers/registry-xformer.adoc
  distribution/docs/src/main/resources/content/_introduction/_coreConcepts/registry-intro.adoc
  distribution/docs/src/main/resources/content/_managing/_configuring/_sources/registry-store.adoc
  distribution/docs/src/main/resources/content/_managing/_configuring/configuring-identity-node.adoc
  distribution/docs/src/main/resources/content/_managing/_configuring/connecting-to-registry.adoc
  distribution/docs/src/main/resources/content/_managing/_configuring/publishing-to-node.adoc
  distribution/docs/src/main/resources/content/_managing/_configuring/subscribing-to-node.adoc
  distribution/docs/src/main/resources/content/_managing/_datamanagement/attributes-added-by-pre-ingest-plugins.adoc
  distribution/docs/src/main/resources/content/_reference/_appReferences/mg-registry.adoc
  distribution/docs/src/main/resources/content/_reference/_tables/Csw_Registry_Store.adoc
  distribution/docs/src/main/resources/content/_reference/_tables/RegistryPolicyPlugin.adoc
  distribution/docs/src/main/resources/content/_reference/_tables/Registry_Config_Event_Handler.adoc
  distribution/docs/src/main/resources/content/_reference/_whitelists/registry-whitelist.adoc
Labels: :book: Documentation, docs-automation, 👷‍♀️Build

#5555 [2.19.x] Bump jaxb2 0.6.0 to 0.10.0
  catalog/spatial/wfs/2.0.0/spatial-wfs-v2_0_0-source/pom.xml
  catalog/transformer/catalog-transformer-streaming-impl/pom.xml
  catalog/transformer/catalog-transformer-xml/pom.xml
Labels: ⬆️ Dependency Upgrade

#5671 DDF-2824 formatting fix for installation docs on guest claim attributes
  distribution/docs/src/main/resources/content/_managing/_installing/installing-from-the-command-line.adoc
Labels: :book: Documentation, docs-content, 👞Bug Fix

#5670 DDF-5669 Add map context menu documentation
  distribution/docs/src/main/resources/content/_using/copy-coordinates.adoc
  distribution/docs/src/main/resources/content/_using/map-context-menu.adoc
  distribution/docs/src/main/resources/content/_using/measure-distance.adoc
  distribution/docs/src/main/resources/content/_using/notifications.adoc
  distribution/docs/src/main/resources/content/_using/ui-settings.adoc
  distribution/docs/src/main/resources/content/_using/view-histogram.adoc
  distribution/docs/src/main/resources/images/copy-coordinates.png
  distribution/docs/src/main/resources/images/map-context-menu.png
  distribution/docs/src/main/resources/images/measure-distance.png
  distribution/docs/src/main/resources/images/view-histogram.png
Labels: :book: Documentation, docs-content, 📈 Improvement

#5678 DDF-2824 fix for duplicate anchors in documentation
  distribution/docs/src/main/resources/content/_architectures/_catalogFrameworks/catalog-api.adoc
  distribution/docs/src/main/resources/content/_architectures/_catalogFrameworks/catalog-framework-camel-component.adoc
  distribution/docs/src/main/resources/content/_architectures/_catalogFrameworks/catalog-framework-intro.adoc
  distribution/docs/src/main/resources/content/_architectures/_plugins/catalog-metrics-plugin.adoc
  distribution/docs/src/main/resources/content/_developing/_devComponents/custom-sts-claims-handlers.adoc
  distribution/docs/src/main/resources/content/_developing/_devComponents/managed-service-factories.adoc
Labels: :book: Documentation, docs-automation, docs-content, 👞Bug Fix
