Repository codice/ddf, pull requests merged in 2019-11, with the labels that each got.

#5456 DDF-5455 Improve GML parsing performance
  catalog/spatial/wfs/spatial-wfs-featuretransformer-handlebars/pom.xml
  catalog/spatial/wfs/spatial-wfs-featuretransformer-handlebars/src/main/java/org/codice/ddf/spatial/ogc/wfs/transformer/handlebars/HandlebarsWfsFeatureTransformer.java
  catalog/transformer/catalog-transformer-streaming-impl/src/main/java/org/codice/ddf/transformer/xml/streaming/impl/Gml3ToWktImpl.java
  catalog/transformer/catalog-transformer-streaming-impl/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  catalog/transformer/catalog-transformer-streaming-impl/src/test/java/org/codice/ddf/transformer/xml/streaming/impl/Gml3ToWktImplTest.java
  catalog/transformer/catalog-transformer-streaming-impl/src/test/java/org/codice/ddf/transformer/xml/streaming/impl/XmlInputTransformerTest.java
Labels: 📈 Improvement

#5512 DDF-5511 Upgrade Hazelcast to 3.12.3
  catalog/catalog-app/src/main/resources/features.xml
  catalog/core/catalog-core-camelcomponent/pom.xml
  catalog/core/catalog-core-directorymonitor/pom.xml
  catalog/core/catalog-core-directorymonitor/src/test/java/org/codice/ddf/catalog/content/monitor/ContentDirectoryMonitorIT.java
  catalog/core/catalog-core-resourcesizeplugin/pom.xml
  catalog/core/catalog-core-resourcestatusplugin/pom.xml
  catalog/core/catalog-core-standardframework/src/main/java/ddf/catalog/cache/impl/ProductCacheDirListener.java
  catalog/core/catalog-core-standardframework/src/main/java/ddf/catalog/cache/impl/ResourceCacheImpl.java
  distribution/test/itests/test-itests-common/src/main/resources/hazelcast.xml
  features/camel/src/main/feature/feature.xml
  features/security/src/main/feature/feature.xml
  platform/osgi/platform-osgi-configadmin/pom.xml
  platform/security/core/security-core-services/pom.xml
  platform/security/handler/security-handler-oauth/pom.xml
  platform/security/handler/security-handler-oidc/pom.xml
  platform/security/security-oidc-bundle/pom.xml
  platform/security/security-oidc-realm/pom.xml
  pom.xml
Labels: ⬆️ Dependency Upgrade

#5563 DDF-5560 updated dependency lists
  distribution/docs/src/main/resources/content/_reference/_dependencyList/ddf-dependency-list.adoc
  distribution/docs/src/main/resources/content/_reference/_dependencyList/js-dependency-list.adoc
Labels: :book: Documentation, docs-automation, docs-content

#5599 DDF-2824 cleaned up stray backticks in documentation
  distribution/docs/src/main/resources/content/_architectures/_migrationApi/migration-api.adoc
  distribution/docs/src/main/resources/content/_architectures/_resources/retrieving-resources-options.adoc
  distribution/docs/src/main/resources/content/_architectures/_resources/retrieving-resources.adoc
  distribution/docs/src/main/resources/content/_developing/_devComponents/custom-catalog-frameworks.adoc
  distribution/docs/src/main/resources/content/_developing/_devComponents/custom-filters.adoc
  distribution/docs/src/main/resources/content/_developing/_devComponents/custom-plugins.adoc
  distribution/docs/src/main/resources/content/_developing/_devComponents/custom-query-options.adoc
  distribution/docs/src/main/resources/content/_developing/_devComponents/custom-registry-clients.adoc
  distribution/docs/src/main/resources/content/_developing/_devComponents/custom-sources.adoc
  distribution/docs/src/main/resources/content/_integrating/_endpoints/catalog-rest-endpoint.adoc
  distribution/docs/src/main/resources/content/_integrating/_endpoints/csw-endpoint.adoc
  distribution/docs/src/main/resources/content/_integrating/_endpoints/opensearch-endpoint.adoc
  distribution/docs/src/main/resources/content/_managing/_configuring/hardening-solr.adoc
  distribution/docs/src/main/resources/content/_managing/_configuring/map-configuration-intrigue.adoc
  distribution/docs/src/main/resources/content/_managing/_configuring/setting-internal-policies.adoc
  distribution/docs/src/main/resources/content/_managing/_securing/managing-crl.adoc
Labels: :book: Documentation, docs-content, 👞Bug Fix

#5595 DDF-5586 updated troubleshooting section for common cert issues
  distribution/docs/src/main/resources/content/_managing/_running/troubleshooting.adoc
  distribution/docs/src/main/resources/content/_managing/_securing/managing-keystores.adoc
  distribution/docs/src/main/resources/content/_quickstart/quickstart-certificates.adoc
Labels: :book: Documentation, docs-content, 🌊Impacts Downstream, 👞Bug Fix

#5613 DDF-5586 updated troubleshooting section for common cert issues
  distribution/docs/src/main/resources/content/_managing/_running/troubleshooting.adoc
  distribution/docs/src/main/resources/content/_managing/_securing/managing-keystores.adoc
  distribution/docs/src/main/resources/content/_quickstart/quickstart-certificates.adoc
Labels: :book: Documentation, docs-content, 🏬 Release Branch, 📈 Improvement
