Repository codice/ddf, pull requests merged in 2020-01, with the labels that each got.

#5736 DDF-4759 edits to documentation versions page on product site
  Documentation-versions.html
  js/script.js
Labels: :book: Documentation, docs-automation

#5726 [2.19.x] DDF-5724 G-2115 Fill the match types dropdown with known values of the basic search match type attribute
  catalog/plugin/catalog-plugin-facet-attribute-access/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  catalog/plugin/catalog-plugin-facet-attribute-access/src/main/resources/OSGI-INF/metatype/metatype.xml
  catalog/ui/catalog-ui-search/src/main/resources/OSGI-INF/metatype/org.codice.ddf.catalog.ui.xml
  distribution/docs/src/main/resources/content/_reference/_tables/catalog.ui.adoc
  ui/packages/catalog-ui-search/src/main/webapp/component/query-basic/query-basic.view.js
Labels: 👤 UI

#5784 DDF-2824 removed outdated videos from support page on product site.
  Support.html
Labels: :book: Documentation, docs-content

#5756 DDF-5748 Removed compression-exi, compression-gzip
  distribution/docs/src/main/resources/content/_managing/_configuring/compression-services.adoc
  distribution/docs/src/main/resources/content/_reference/_dependencyList/ddf-dependency-list.adoc
  features/utilities/pom.xml
  features/utilities/src/main/feature/feature.xml
  platform/compression/platform-compression-exi/dependency-check-maven-config.xml
  platform/compression/platform-compression-exi/pom.xml
  platform/compression/platform-compression-exi/src/main/java/ddf/compression/exi/EXIEncoder.java
  platform/compression/platform-compression-exi/src/main/java/ddf/compression/exi/EXIFeature.java
  platform/compression/platform-compression-exi/src/main/java/ddf/compression/exi/EXIOutInterceptor.java
  platform/compression/platform-compression-exi/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/compression/platform-compression-exi/src/test/java/ddf/compression/exi/EXIEncoderTest.java
  platform/compression/platform-compression-exi/src/test/resources/atom-example.xml
  platform/compression/platform-compression-gzip/pom.xml
  platform/compression/platform-compression-gzip/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/compression/pom.xml
  platform/pom.xml
Labels: docs-content
