Repository codice/ddf, pull requests merged in 2020-06, with the labels that each got.

#6119 DDF-2824 upgraded asciidoctor and jruby dependencies
  distribution/docs/src/main/resources/content/_integrating/_endpoints/csw-endpoint.adoc
  distribution/docs/src/main/resources/content/_managing/_configuring/_sources/confluence-federated-source.adoc
  distribution/docs/src/main/resources/content/_managing/_securing/managing-keystores.adoc
  pom.xml
Labels: :book: Documentation, docs-automation, ⬆️ Dependency Upgrade, 🌊Impacts Downstream

#6118 DDF-2824 upgraded asciidoctor and jruby dependencies
  distribution/docs/src/main/resources/content/_integrating/_endpoints/csw-endpoint.adoc
  distribution/docs/src/main/resources/content/_managing/_configuring/_sources/confluence-federated-source.adoc
  distribution/docs/src/main/resources/content/_managing/_securing/managing-keystores.adoc
  pom.xml
Labels: :book: Documentation, docs-automation, ⬆️ Dependency Upgrade, 🌊Impacts Downstream

#6127 [2.19.x] Update CachingFederationStrategy
  catalog/core/catalog-core-standardframework/src/main/java/ddf/catalog/cache/solr/impl/CachingFederationStrategy.java
  catalog/core/catalog-core-standardframework/src/test/java/ddf/catalog/cache/solr/impl/CachingFederationStrategyTest.java
Labels: 👀 Verified

#5970 Updates README.md to mention / link to release doc
  README.md
Labels: Meta
