Repository codice/ddf, changes with the owners that CODEOWNERS names for each.
All owners: @stustison, @ricklarsen, @codice/test, @codice/core-apis, @rzwiefel, @codice/security, @bdeining, @clockard, @andrewkfiedler, @coyotesqrl

DDF-3142 - added start/end time to report. fixed metacards migratable with respect to previous changes to API. modified import to auto-export first.
  catalog/core/catalog-core-migratable/src/main/java/org/codice/ddf/catalog/migratable/impl/MetacardsMigratable.java
  catalog/core/catalog-core-migratable/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  distribution/docs/src/main/resources/_contents/_apis/migration-api-contents.adoc
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationCompoundException.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationReport.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ConfigurationMigrationManager.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationReportImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/MigrationReportImpl.java
Owners: @codice/core-apis, @ricklarsen

DDF-3142 - first draft + implementation of new migration api. Test cases are not addressed and won't compile.
  catalog/core/catalog-core-migratable/pom.xml
  catalog/core/catalog-core-migratable/src/main/java/org/codice/ddf/catalog/migratable/impl/MetacardsMigratable.java
  catalog/core/catalog-core-migratable/src/test/java/org/codice/ddf/catalog/migratable/impl/MetacardsMigratableTest.java
  platform/admin/core/admin-core-migration-commands/src/main/java/org/codice/ddf/migration/commands/ExportCommand.java
  platform/admin/core/admin-core-migration-commands/src/main/java/org/codice/ddf/migration/commands/MigrationCommands.java
  platform/admin/ui/src/main/webapp/js/models/module/Export.js
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ConfigurationMigratable.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/DescribableBean.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ExportMigrationException.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ExportPathMigrationWarning.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/Migratable.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationException.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationMetadata.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationWarning.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/UnexpectedMigrationException.java
  platform/migration/platform-migratable-util/pom.xml
  platform/migration/platform-migratable-util/src/main/java/org/codice/ddf/migration/util/MigratableUtil.java
  platform/migration/platform-migratable-util/src/test/java/org/codice/ddf/migration/util/MigratableUtilTest.java
  platform/migration/platform-migration/pom.xml
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ConfigurationMigrationManager.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ConfigurationMigrationManagerMBean.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ConfigurationMigrationService.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ConfigurationMigrationManagerTest.java
  platform/migration/pom.xml
  platform/platform-migratable/pom.xml
  platform/platform-migratable/src/main/java/org/codice/ddf/platform/migratable/impl/PlatformMigratable.java
  platform/platform-migratable/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/platform-migratable/src/test/java/org/codice/ddf/platform/migratable/impl/PlatformMigratableTest.java
  platform/security/security-migratable/pom.xml
  platform/security/security-migratable/src/main/java/org/codice/ddf/security/migratable/impl/SecurityMigratable.java
  platform/security/security-migratable/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/security/security-migratable/src/test/java/org/codice/ddf/security/migratable/impl/SecurityMigratableTest.java
  pom.xml
Owners: @codice/core-apis, @stustison, @codice/security

DDF-3142 - Bug fixes. Doc changes. Added ranking to defined migratables.
  distribution/docs/src/main/jdocs/content/_configuring/configuring-from-import-intro-contents.adoc
  distribution/docs/src/main/jdocs/content/_configuring/exporting-existing-configurations-contents.adoc
  distribution/docs/src/main/jdocs/content/_configuring/importing-exported-configurations-contents.adoc
  distribution/docs/src/main/resources/_contents/_configuring/configuring-from-import-intro-contents.adoc
  distribution/docs/src/main/resources/_contents/_configuring/exporting-existing-configurations-contents.adoc
  distribution/docs/src/main/resources/_contents/_configuring/importing-exported-configurations-contents.adoc
  distribution/docs/src/main/resources/images/exporting_configuration_step3.png
  platform/admin/core/admin-core-migration-commands/src/main/java/org/codice/ddf/migration/commands/ImportCommand.java
  platform/admin/core/admin-core-migration-commands/src/main/java/org/codice/ddf/migration/commands/MigrationCommands.java
  platform/admin/ui/src/main/webapp/js/models/module/Export.js
  platform/migration/platform-migratable-api/pom.xml
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ImportMigrationContext.java
  platform/migration/platform-migration/pom.xml
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ExportMigrationConfigurationAdminContext.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ExportMigrationConfigurationAdminEntry.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ImportMigrationConfigurationAdminEntry.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ConfigurationMigrationManager.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationContextImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationJavaPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationManagerImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationReportImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationSystemPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationContextImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationJavaPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationManagerImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationSystemPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/MigrationContextImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/MigrationReportImpl.java
  platform/migration/platform-migration/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/platform-migratable/pom.xml
  platform/platform-migratable/src/main/java/org/codice/ddf/platform/migratable/impl/PlatformMigratable.java
  platform/platform-migratable/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/security/security-migratable/pom.xml
  platform/security/security-migratable/src/main/resources/OSGI-INF/blueprint/blueprint.xml
Owners: @ricklarsen, @stustison, @codice/security

DDF-3142 - added auto-reboot after successful import. updated logs. enhanced config admin import to not update config objects that have not changed.
  distribution/docs/src/main/jdocs/content/_configuring/importing-exported-configurations-contents.adoc
  distribution/docs/src/main/resources/_contents/_configuring/importing-exported-configurations-contents.adoc
  platform/migration/platform-migration/pom.xml
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ImportMigrationConfigurationAdminEntry.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ConfigurationMigrationManager.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationContextImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationJavaPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationManagerImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationSystemPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationContextImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationEmptyEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationExternalEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationJavaPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationManagerImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationSystemPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/resources/OSGI-INF/blueprint/blueprint.xml
Owners: @ricklarsen

DDF-3142 - fixed dependencies in catalog migratable and updated traces
  catalog/core/catalog-core-migratable/pom.xml
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ImportMigrationConfigurationAdminEntry.java
Owners: @codice/core-apis

DDF-3142 - added exported version for migration framework and for migratables.
  catalog/core/catalog-core-migratable/src/main/java/org/codice/ddf/catalog/migratable/impl/MetacardsMigratable.java
  catalog/core/catalog-core-migratable/src/test/java/org/codice/ddf/catalog/migratable/impl/MetacardsMigratableTest.java
  distribution/docs/src/main/resources/_contents/_apis/migration-api-contents.adoc
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/DescribableBean.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/Migratable.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationContext.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ProxyMigrationContext.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ConfigurationAdminMigratable.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ExportMigrationConfigurationAdminContext.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ImportMigrationConfigurationAdminContext.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ConfigurationMigrationManager.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationContextImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationManagerImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationReportImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationContextImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationManagerImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/MigrationContextImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/status/ConfigurationFileException.java
  platform/migration/platform-migration/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/admin/ConfigurationAdminMigrationTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ConfigurationMigrationManagerTest.java
  platform/platform-migratable/src/main/java/org/codice/ddf/platform/migratable/impl/PlatformMigratable.java
  platform/platform-migratable/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/platform-migratable/src/test/java/org/codice/ddf/platform/migratable/impl/PlatformMigratableTest.java
  platform/security/security-migratable/src/main/java/org/codice/ddf/security/migratable/impl/SecurityMigratable.java
  platform/security/security-migratable/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/security/security-migratable/src/test/java/org/codice/ddf/security/migratable/impl/SecurityMigratableTest.java
Owners: @codice/core-apis, @ricklarsen, @codice/security, @stustison

DDF-3142 - added missing new files
  platform/admin/core/admin-core-migration-commands/src/main/java/org/codice/ddf/migration/commands/ImportCommand.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ExportMigrationContext.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ExportMigrationEntry.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ExportPathMigrationException.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ImportMigrationContext.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ImportMigrationEntry.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ImportMigrationException.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ImportPathMigrationException.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ImportPathMigrationWarning.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationCompoundException.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationContext.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationEntry.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationOperation.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationReport.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationContextImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationJavaPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationManagerImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationReportImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationSystemPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationContextImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationEmptyEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationExternalEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationJavaPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationManagerImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationSystemPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/JsonUtils.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/MigrationContextImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/MigrationEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/MigrationReportImpl.java
Owners: @stustison

DDF-3142 - simplified streaming and updated logs
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ConfigurationAdminMigratable.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ExportMigrationConfigurationAdminContext.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ImportMigrationConfigurationAdminContext.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ImportMigrationConfigurationAdminEntry.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationContextImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/JsonUtils.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/admin/ConfigurationAdminMigrationTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ConfigurationMigrationManagerTest.java
Owners: none

DDF-3142 - first set of migration tests
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationCompoundException.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationWarning.java
  platform/migration/platform-migration/pom.xml
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/JsonUtils.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/MigrationContextImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/MigrationEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/MigrationReportImpl.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/admin/ConfigurationAdminMigrationTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ConfigurationMigrationManagerTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/JsonUtilsTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/MigrationContextImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/MigrationEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/MigrationReportImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/test/util/ThrowableMatchers.java
  pom.xml
Owners: none

DDF-3142 - migration api changes following initial design review. added more test cases
  platform/admin/core/admin-core-migration-commands/src/main/java/org/codice/ddf/migration/commands/ExportCommand.java
  platform/admin/core/admin-core-migration-commands/src/main/java/org/codice/ddf/migration/commands/ImportCommand.java
  platform/admin/core/admin-core-migration-commands/src/main/java/org/codice/ddf/migration/commands/MigrationCommands.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/IncompatibleMigrationException.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/Migratable.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationException.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationInformation.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationMessage.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationReport.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationSuccessfulInformation.java
  platform/migration/platform-migratable-api/src/test/java/org/codice/ddf/migration/MigratableTest.java
  platform/migration/platform-migratable-api/src/test/java/org/codice/ddf/migration/MigrationReportTest.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ConfigurationAdminMigratable.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ConfigurationMigrationManager.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ConfigurationMigrationService.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationManagerImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationReportImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationContextImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/MigrationReportImpl.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationContextImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/MigrationContextImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/MigrationReportImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/todo
  platform/platform-migratable/src/main/java/org/codice/ddf/platform/migratable/impl/PlatformMigratable.java
  platform/security/security-migratable/src/main/java/org/codice/ddf/security/migratable/impl/SecurityMigratable.java
Owners: @stustison, @codice/security

DDF-3142 - added support for optional/required entries. removed powermock from migration pom file
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ExportMigrationEntry.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ImportMigrationContext.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ImportMigrationEntry.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationEntry.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationExporter.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationReport.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ProxyExportMigrationEntry.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ProxyImportMigrationContext.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ProxyImportMigrationEntry.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ProxyMigrationEntry.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/util/function/EBiConsumer.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/util/function/ERunnable.java
  platform/migration/platform-migratable-api/src/test/java/org/codice/ddf/migration/MigrationEntryTest.java
  platform/migration/platform-migration/pom.xml
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ExportMigrationConfigurationAdminEntry.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ImportMigrationConfigurationAdminContext.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ImportMigrationConfigurationAdminEntry.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationJavaPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationReportImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationSystemPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationContextImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationEmptyEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationExternalEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationJavaPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationManagerImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationSystemPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/MigrationContextImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/MigrationEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/MigrationReportImpl.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/MigrationReportImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/todo
  platform/platform-migratable/src/main/java/org/codice/ddf/platform/migratable/impl/PlatformMigratable.java
  platform/security/security-migratable/src/main/java/org/codice/ddf/security/migratable/impl/SecurityMigratable.java
Owners: @codice/security, @stustison

DDF-3142 - bug fixes and additional test cases
  platform/migration/platform-migratable-api/pom.xml
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ExportMigrationContext.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ExportMigrationEntry.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ImportMigrationContext.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationEntry.java
  platform/migration/platform-migratable-api/src/test/java/org/codice/ddf/migration/ExportMigrationContextTest.java
  platform/migration/platform-migration/pom.xml
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationContextImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationContextImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationJavaPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationSystemPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/MigrationContextImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/MigrationEntryImpl.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/AbstractMigrationTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/MigrationContextImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/MigrationEntryImplTest.java
  pom.xml
Owners: none

DDF-3142 - cleanup references to current working directory now that they are actually relative to ddf.home.
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ExportMigrationContext.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ExportMigrationEntry.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationContextImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationContextImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationSystemPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/MigrationContextImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/PathUtils.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/AbstractMigrationTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationContextImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/MigrationContextImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/PathUtilsTest.java
Owners: none

DDF-3142 - properly closed output/input streams when using store() with a consumer.
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationJavaPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/AbstractMigrationTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationEntryImplTest.java
Owners: none

DDF-3142 - deleting the zip file if any errors occurred. bug fixes. additional test cases
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ConfigurationMigrationManager.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationJavaPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationReportImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationSystemPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationSystemPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/AbstractMigrationTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationEntryImplTest.java
Owners: none

DDF-3142 - bug fixes and more test cases
  platform/migration/platform-migratable-api/src/test/java/org/codice/ddf/migration/ExportMigrationEntryTest.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationContextImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationContextImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationJavaPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationSystemPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/MigrationContextImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/MigrationEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/PathUtils.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/AbstractMigrationTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationContextImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/MigrationContextImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/PathUtilsTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/todo
Owners: none

DDF-3142 Adding unit test for ConfigurationMigrationManager
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ConfigurationMigrationManager.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ConfigurationMigrationManagerTest.java
Owners: none

DDF-3142 - updated doc and fix impl to properly account for .. in paths
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ExportMigrationContext.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ExportMigrationEntry.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ImportPathMigrationException.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationEntry.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationReport.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationContextImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationJavaPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationReportImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationSystemPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationContextImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationEmptyEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationExternalEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationJavaPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationSystemPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/MigrationContextImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/MigrationEntryImpl.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/AbstractMigrationTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ConfigurationMigrationManagerTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationContextImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/MigrationContextImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/MigrationEntryImplTest.java
Owners: none

DDF-3142 - added more tests
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationContextImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationManagerImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationContextImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationManagerImpl.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/AbstractMigrationTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationContextImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationManagerImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationReportImplTest.java
Owners: none

DDF-3142 - added more tests
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationManagerImpl.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/AbstractMigrationTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationContextImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationManagerImplTest.java
Owners: none

DDF-3142: Updated Jacoco ratios poms for PlatformMigratable and SecurityMigratable
  platform/platform-migratable/pom.xml
  platform/security/security-migratable/pom.xml
Owners: @codice/security, @stustison

DDF-3142 Adding ImportEntry tests (still more to do)
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationExternalEntryImpl.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/AbstractMigrationTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ImportMigrationEmptyEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ImportMigrationEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ImportMigrationExternalEntryImplTest.java
Owners: none

DDF-3142 - refactored checksum computing to simplify testing. added more tests
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationReportImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationExternalEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/PathUtils.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/AbstractMigrationReportTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/AbstractMigrationTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationContextImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationReportImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/MigrationContextImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/MigrationEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/MigrationReportImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/PathUtilsTest.java
Owners: none

DDF-3142 - added equals(), hashCode(), and compareTo() tests for export entries
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationJavaPropertyReferencedEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationPropertyReferencedEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationSystemPropertyReferencedEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/MigrationEntryImplTest.java
Owners: none

DDF-3142 - modified hashCode(), equals(), and compareTo() to account for subclasses and added more test cases.
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationJavaPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationSystemPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationJavaPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/MigrationEntryImpl.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationSystemPropertyReferencedEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/MigrationEntryImplTest.java
Owners: none

DDF-3142 - refactored entry classes to simplify testing. added more test cases. fixed real path handling not to follow softlinks.
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationJavaPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationSystemPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationExternalEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationJavaPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationSystemPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/PathUtils.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/AbstractMigrationTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationContextImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationEntryImplTest.java
Owners: none

DDF-3142 - added more tests
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationManagerImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/MigrationContextImpl.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/AbstractMigrationReportTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/AbstractMigrationTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationContextImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationJavaPropertyReferencedEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationManagerImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationPropertyReferencedEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationReportImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationSystemPropertyReferencedEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/MigrationContextImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/MigrationEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/PathUtilsTest.java
Owners: none

DDF-3142 Unit test for ImportMigrationEntryImpl
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ImportMigrationConfigurationAdminContext.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationContextImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationManagerImpl.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/AbstractMigrationTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ConfigurationMigrationManagerTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ImportMigrationEntryImplTest.java
Owners: none

DDF-3142: Added unit tests for PlatformMigratable and SecurityMigratable
  platform/platform-migratable/pom.xml
  platform/platform-migratable/src/main/java/org/codice/ddf/platform/migratable/impl/PlatformMigratable.java
  platform/platform-migratable/src/test/java/org/codice/ddf/platform/migratable/impl/PlatformMigratableTest.java
  platform/security/security-migratable/pom.xml
  platform/security/security-migratable/src/main/java/org/codice/ddf/security/migratable/impl/SecurityMigratable.java
  platform/security/security-migratable/src/test/java/org/codice/ddf/security/migratable/impl/SecurityMigratableTest.java
Owners: @codice/security, @stustison

DDF-3142 - added more tests
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationJavaPropertyReferencedEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationPropertyReferencedEntryImplTest.java
Owners: none

DDF-3142 added test-jar goal to publish platform-migration test classes
  platform/migration/platform-migration/pom.xml
Owners: none

DDF-3142 - removed DataMigratable and ConfigurationMigratable. removed metacards migratable. updated with review comments.
  catalog/catalog-app/src/main/resources/features.xml
  catalog/core/catalog-core-migratable/pom.xml
  catalog/core/catalog-core-migratable/src/main/java/org/codice/ddf/catalog/migratable/impl/CatalogMigratableConfig.java
  catalog/core/catalog-core-migratable/src/main/java/org/codice/ddf/catalog/migratable/impl/MetacardsMigratable.java
  catalog/core/catalog-core-migratable/src/main/java/org/codice/ddf/catalog/migratable/impl/MigrationFileWriter.java
  catalog/core/catalog-core-migratable/src/main/java/org/codice/ddf/catalog/migratable/impl/MigrationTaskManager.java
  catalog/core/catalog-core-migratable/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  catalog/core/catalog-core-migratable/src/test/java/org/codice/ddf/catalog/migratable/impl/CatalogMigratableConfigTest.java
  catalog/core/catalog-core-migratable/src/test/java/org/codice/ddf/catalog/migratable/impl/MetacardsMigratableTest.java
  catalog/core/catalog-core-migratable/src/test/java/org/codice/ddf/catalog/migratable/impl/MigrationFileWriterTest.java
  catalog/core/catalog-core-migratable/src/test/java/org/codice/ddf/catalog/migratable/impl/MigrationTaskManagerTest.java
  catalog/core/pom.xml
  distribution/docs/src/main/jdocs/content/_configuring/importing-exported-configurations-contents.adoc
  distribution/docs/src/main/resources/_contents/_configuring/importing-exported-configurations-contents.adoc
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ConfigurationMigratable.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/DataMigratable.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ExportMigrationContext.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ExportMigrationEntry.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ImportMigrationContext.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ImportMigrationEntry.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/Migratable.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationEntry.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ConfigurationAdminMigratable.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ImportMigrationConfigurationAdminContext.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ConfigurationMigrationManager.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ConfigurationMigrationManagerMBean.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ConfigurationMigrationService.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationContextImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationEntryImpl.java
  platform/migration/platform-migration/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/admin/ConfigurationAdminMigratableTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ConfigurationMigrationManagerTest.java
  platform/platform-migratable/src/main/java/org/codice/ddf/platform/migratable/impl/PlatformMigratable.java
  platform/platform-migratable/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/platform-migratable/src/test/java/org/codice/ddf/platform/migratable/impl/PlatformMigratableTest.java
  platform/security/security-migratable/src/main/java/org/codice/ddf/security/migratable/impl/SecurityMigratable.java
  platform/security/security-migratable/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/security/security-migratable/src/test/java/org/codice/ddf/security/migratable/impl/SecurityMigratableTest.java
Owners: @codice/core-apis, @ricklarsen, @codice/security, @stustison

DDF-3142 Made minor changes to ConfigurationAdminMigratableTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/admin/ConfigurationAdminMigratableTest.java
Owners: none

DDF-3142 - added more tests and new matchers to help deal with casing and mapping an object into another one before matching
  platform/migration/platform-migratable-api/pom.xml
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ImportMigrationConfigurationAdminContext.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationContextImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationExternalEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/AbstractMigrationTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationContextImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ImportMigrationContextImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ImportMigrationManagerImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/MigrationContextImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/todo
  platform/migration/platform-migration/src/test/java/org/codice/ddf/test/util/CastingMatchers.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/test/util/MappingMatchers.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/test/util/ThrowableMatchers.java
Owners: none

DDF-3142: Added unit tests for ConfigurationAdminMigratable
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/admin/ConfigurationAdminMigrationTest.java
Owners: none

DDF-3142 - added new tests. modified exceptions from JsonUtils and updated exception messages.
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/JsonUtils.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ImportMigrationContextImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ImportMigrationPropertyReferencedEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/JsonUtilsTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/MigrationContextImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/MigrationEntryImplTest.java
Owners: none

DDF-3142 commented out tests
  catalog/core/catalog-core-migratable/src/test/java/org/codice/ddf/catalog/migratable/impl/MetacardsMigratableTest.java
  platform/admin/core/admin-core-migration-commands/src/test/java/org/codice/ddf/migration/commands/ExportCommandTest.java
Owners: @codice/core-apis, @stustison

DDF-3142 - added more tests
  platform/migration/platform-migratable-api/pom.xml
  platform/migration/platform-migration/pom.xml
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationManagerImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationManagerImpl.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/AbstractMigrationReportTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/AbstractMigrationTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationManagerImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ImportMigrationManagerImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/MigrationContextImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/MigrationReportImplTest.java
Owners: none

DDF-3142 - modified migratable version to be required and non-null. removed getVersion() from context. added new Migratable.doMissingImport().
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ImportMigrationContext.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/Migratable.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationContext.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ProxyMigrationContext.java
  platform/migration/platform-migratable-api/src/test/java/org/codice/ddf/migration/MigratableTest.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationContextImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationContextImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/MigrationContextImpl.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationContextImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ImportMigrationContextImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/MigrationContextImplTest.java
Owners: none

DDF-3142 Committing incomplete unit test class for ImportMigrationJavaPropertyReferencedEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ImportMigrationJavaPropertyReferencedEntryImplTest.java
Owners: none

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# For more information on CODEOWNERS, see https://help.github.com/articles/about-codeowners/

# Order is important; the last matching pattern takes the most precedence.
# Within each subsection, keep all pattern matches in strict alphabetical order
# to ensure they go from least to most granular. Additionally when adding a more granular pattern,
# you must explicitly add any users/groups marked on broader patterns. Example:
# Given a file starting as
# ===
# catalog/core/                  @user1
# distribution/docs/             @user2
# ===
# When updating to add a pattern match for catalog/core/catalog-core-api for user3, it SHOULD be
# updated to read
# ===
# catalog/core/                  @user1
# catalog/core/catalog-core-api/ @user3 @user1
# distribution/docs/             @user2
# ===
# If user1 were not added to the newly added, more granular match, they would be tagged on all changes
# within the catalog/core/** hierarchy EXCEPT FOR those within catalog/core/catalog-core-api/**.
# Exceptions may be made to this rule on a case-by-case basis with the input of the more general
# codeowners.
#
# Order is important; the last matching pattern takes the most precedence.


###############################
# DISTRIBUTION
###############################

distribution/ddf-common/    @stustison

distribution/docs/          @ricklarsen

distribution/test/          @codice/test


###############################
# CATALOG
###############################

catalog/core/                   @codice/core-apis

catalog/core/catalog-core-commands/src/main/java/org/codice/ddf/commands/catalog/ExportCommand.java		@rzwiefel
catalog/core/catalog-core-commands/src/main/java/org/codice/ddf/commands/catalog/ImportCommand.java		@rzwiefel

catalog/core/catalog-core-contentresourcereader/    @codice/core-apis @stustison

catalog/core/catalog-core-localstorageprovider/	    @codice/core-apis @stustison

catalog/core/catalog-core-standardframework/src/main/**/impl/		  @codice/core-apis @stustison
catalog/core/catalog-core-standardframework/src/main/**/resource/     @codice/core-apis @stustison
catalog/core/catalog-core-standardframework/src/main/java/ddf/catalog/history/		@rzwiefel

catalog/core/catalog-core-validationparser/ 	@rzwiefel

catalog/core/catalog-core-versioning/*				@rzwiefel

catalog/opensearch/	            @stustison

catalog/rest/		            @stustison

catalog/security/		        @codice/security @stustison

catalog/spatial/csw/            @bdeining

catalog/spatial/registry/       @clockard

catalog/ui/catalog-ui-search/                   @andrewkfiedler
catalog/ui/catalog-ui-search/pom.xml            @andrewkfiedler @rzwiefel
catalog/ui/catalog-ui-search/src/**/java/       @rzwiefel
catalog/ui/catalog-ui-search/src/**/resources/  @rzwiefel

catalog/ui/search-ui/standard/	@stustison

###############################
# PLATFORM
###############################

platform/admin/		                    @stustison

platform/admin/configurator/            @coyotesqrl

platform/error/		                    @stustison

platform/parser/                        @coyotesqrl

platform/platform-filter-delegate/	    @codice/security @stustison

platform/platform-http-proxy/	        @stustison

platform/platform-paxweb-jettyconfig/	@stustison

platform/security/		                @codice/security @stustison

platform/util/			                @stustison
