Repository codice/ddf, changes with the owners that CODEOWNERS names for each.
All owners: @stustison, @ricklarsen, @bdeining, @clockard, @andrewkfiedler

CODEOWNERS:

###############################
# DISTRIBUTION
###############################

distribution/ddf-common/*	@stustison

distribution/docs/*         @ricklarsen


###############################
# CATALOG
###############################

catalog/core/catalog-core-contentresourcereader/*	@stustison

catalog/core/catalog-core-localstorageprovider/*	@stustison

catalog/core/catalog-core-standardframework/src/main/java/ddf/catalog/impl/*		@stustison
catalog/core/catalog-core-standardframework/src/main/java/ddf/catalog/resource/*    @stustison

catalog/opensearch/*	@stustison

catalog/rest/*		            @stustison

catalog/security/*		        @stustison

catalog/spatial/csw/*           @bdeining

catalog/spatial/registry/*      @clockard

catalog/ui/search-ui/standard/*		@stustison

catalog/ui/catalog-ui-search/* @andrewkfiedler

###############################
# PLATFORM
###############################

platform/admin/*		@stustison

platform/error/*		@stustison

platform/platform-filter-delegate/*		    @stustison

platform/platform-http-proxy/*		        @stustison

platform/platform-paxweb-jettyconfig/*	    @stustison

platform/security/*		@stustison

platform/util/*			@stustison

Updating logging level per stustison code review
  platform/security/idp/security-idp-client/src/main/java/org/codice/ddf/security/idp/client/IdpHandler.java
Owners: none

DDF-3184 Refactored OpenSearch Source to be extensible and cleaned up code
  catalog/admin/admin-poller-service/src/test/java/org/codice/ddf/catalog/admin/poller/AdminPollerTest.java
  catalog/catalog-app/pom.xml
  catalog/catalog-app/src/main/resources/features.xml
  catalog/opensearch/catalog-opensearch-api/pom.xml
  catalog/opensearch/catalog-opensearch-api/src/main/java/ddf/catalog/source/opensearch/OpenSearchParser.java
  catalog/opensearch/catalog-opensearch-source/pom.xml
  catalog/opensearch/catalog-opensearch-source/src/main/java/ddf/catalog/source/opensearch/impl/ContextualSearch.java
  catalog/opensearch/catalog-opensearch-source/src/main/java/ddf/catalog/source/opensearch/impl/NestedTypes.java
  catalog/opensearch/catalog-opensearch-source/src/main/java/ddf/catalog/source/opensearch/impl/OpenSearchFilterVisitor.java
  catalog/opensearch/catalog-opensearch-source/src/main/java/ddf/catalog/source/opensearch/impl/OpenSearchFilterVisitorObject.java
  catalog/opensearch/catalog-opensearch-source/src/main/java/ddf/catalog/source/opensearch/impl/OpenSearchParserImpl.java
  catalog/opensearch/catalog-opensearch-source/src/main/java/ddf/catalog/source/opensearch/impl/OpenSearchSource.java
  catalog/opensearch/catalog-opensearch-source/src/main/java/ddf/catalog/source/opensearch/impl/RestFilterDelegate.java
  catalog/opensearch/catalog-opensearch-source/src/main/java/ddf/catalog/source/opensearch/impl/RestUrl.java
  catalog/opensearch/catalog-opensearch-source/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  catalog/opensearch/catalog-opensearch-source/src/main/resources/OSGI-INF/metatype/metatype.xml
  catalog/opensearch/catalog-opensearch-source/src/test/java/ddf/catalog/source/opensearch/MockQuery.java
  catalog/opensearch/catalog-opensearch-source/src/test/java/ddf/catalog/source/opensearch/TestOpenSearchSiteUtil.java
  catalog/opensearch/catalog-opensearch-source/src/test/java/ddf/catalog/source/opensearch/impl/TestOpenSearchFilterVisitor.java
  catalog/opensearch/catalog-opensearch-source/src/test/java/ddf/catalog/source/opensearch/impl/TestOpenSearchParserImpl.java
  catalog/opensearch/catalog-opensearch-source/src/test/java/ddf/catalog/source/opensearch/impl/TestOpenSearchSource.java
  catalog/opensearch/pom.xml
Owners: @stustison

DDF-3184 Refactored OpenSearch Source to be extensible and cleaned up code (#2182)
  catalog/admin/admin-poller-service/src/test/java/org/codice/ddf/catalog/admin/poller/AdminPollerTest.java
  catalog/catalog-app/pom.xml
  catalog/catalog-app/src/main/resources/features.xml
  catalog/opensearch/catalog-opensearch-api/pom.xml
  catalog/opensearch/catalog-opensearch-api/src/main/java/ddf/catalog/source/opensearch/OpenSearchParser.java
  catalog/opensearch/catalog-opensearch-source/pom.xml
  catalog/opensearch/catalog-opensearch-source/src/main/java/ddf/catalog/source/opensearch/impl/ContextualSearch.java
  catalog/opensearch/catalog-opensearch-source/src/main/java/ddf/catalog/source/opensearch/impl/NestedTypes.java
  catalog/opensearch/catalog-opensearch-source/src/main/java/ddf/catalog/source/opensearch/impl/OpenSearchFilterVisitor.java
  catalog/opensearch/catalog-opensearch-source/src/main/java/ddf/catalog/source/opensearch/impl/OpenSearchFilterVisitorObject.java
  catalog/opensearch/catalog-opensearch-source/src/main/java/ddf/catalog/source/opensearch/impl/OpenSearchParserImpl.java
  catalog/opensearch/catalog-opensearch-source/src/main/java/ddf/catalog/source/opensearch/impl/OpenSearchSource.java
  catalog/opensearch/catalog-opensearch-source/src/main/java/ddf/catalog/source/opensearch/impl/RestFilterDelegate.java
  catalog/opensearch/catalog-opensearch-source/src/main/java/ddf/catalog/source/opensearch/impl/RestUrl.java
  catalog/opensearch/catalog-opensearch-source/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  catalog/opensearch/catalog-opensearch-source/src/main/resources/OSGI-INF/metatype/metatype.xml
  catalog/opensearch/catalog-opensearch-source/src/test/java/ddf/catalog/source/opensearch/MockQuery.java
  catalog/opensearch/catalog-opensearch-source/src/test/java/ddf/catalog/source/opensearch/TestOpenSearchSiteUtil.java
  catalog/opensearch/catalog-opensearch-source/src/test/java/ddf/catalog/source/opensearch/impl/TestOpenSearchFilterVisitor.java
  catalog/opensearch/catalog-opensearch-source/src/test/java/ddf/catalog/source/opensearch/impl/TestOpenSearchParserImpl.java
  catalog/opensearch/catalog-opensearch-source/src/test/java/ddf/catalog/source/opensearch/impl/TestOpenSearchSource.java
  catalog/opensearch/pom.xml
Owners: @stustison

DDF-3221 Improved support for downstream configuration of AbstractStsRealm in integration tests (#2227)
  distribution/test/itests/README.md
  distribution/test/itests/test-itests-common/src/main/java/org/codice/ddf/itests/common/AbstractIntegrationTest.java
  distribution/test/itests/test-itests-common/src/main/resources/ddf.security.sts.client.configuration.config
Owners: none

DDF-3201 Update collection comparator to return 0 when no comparators are defined.
  catalog/core/catalog-core-api-impl/src/main/java/ddf/catalog/util/impl/CollectionResultComparator.java
Owners: none

DDF-3201 Code review fixes
  catalog/core/catalog-core-api-impl/src/main/java/ddf/catalog/util/impl/CollectionResultComparator.java
  catalog/spatial/csw/spatial-csw-endpoint/src/main/java/org/codice/ddf/spatial/ogc/csw/catalog/endpoint/CswQueryFactory.java
Owners: none

DDF-3201 Code review fixes and test updates
  catalog/core/catalog-core-api-impl/src/main/java/ddf/catalog/util/impl/CollectionResultComparator.java
  catalog/core/catalog-core-solr/src/main/java/ddf/catalog/source/solr/SolrMetacardClientImpl.java
  catalog/core/catalog-core-solr/src/test/java/ddf/catalog/source/solr/SolrProviderTest.java
  catalog/core/catalog-core-standardframework/src/main/java/ddf/catalog/cache/solr/impl/SortedQueryMonitor.java
  catalog/spatial/csw/spatial-csw-endpoint/src/main/java/org/codice/ddf/spatial/ogc/csw/catalog/endpoint/CswQueryFactory.java
  catalog/spatial/csw/spatial-csw-source-common/src/main/java/org/codice/ddf/spatial/ogc/csw/catalog/common/source/AbstractCswSource.java
  catalog/ui/search-ui/search-endpoint/src/main/java/org/codice/ddf/ui/searchui/query/solr/FilteringDynamicSchemaResolver.java
Owners: none

DDF-3201 Add multi-attribute sorting.
  catalog/core/catalog-core-api-impl/src/main/java/ddf/catalog/util/impl/CollectionResultComparator.java
  catalog/core/catalog-core-api-impl/src/test/java/ddf/catalog/util/impl/CollectionResultComparatorTest.java
  catalog/core/catalog-core-solr/src/main/java/ddf/catalog/source/solr/SolrFilterDelegate.java
  catalog/core/catalog-core-solr/src/main/java/ddf/catalog/source/solr/SolrMetacardClientImpl.java
  catalog/core/catalog-core-solr/src/test/java/ddf/catalog/source/solr/SolrFilterDelegateTest.java
  catalog/core/catalog-core-standardframework/src/main/java/ddf/catalog/cache/solr/impl/SortedQueryMonitor.java
  catalog/spatial/csw/spatial-csw-endpoint/src/main/java/org/codice/ddf/spatial/ogc/csw/catalog/endpoint/CswQueryFactory.java
  catalog/spatial/csw/spatial-csw-source-common/src/main/java/org/codice/ddf/spatial/ogc/csw/catalog/common/source/AbstractCswSource.java
  catalog/ui/search-ui/search-endpoint/src/main/java/org/codice/ddf/ui/searchui/query/solr/FilteringDynamicSchemaResolver.java
  distribution/test/itests/test-itests-common/src/main/resources/csw-multi-sort-asc.xml
  distribution/test/itests/test-itests-common/src/main/resources/csw-multi-sort-desc.xml
  distribution/test/itests/test-itests-common/src/main/resources/sorttestcard1.xml
  distribution/test/itests/test-itests-common/src/main/resources/sorttestcard2.xml
  distribution/test/itests/test-itests-ddf/src/test/java/ddf/test/itests/catalog/TestCatalog.java
Owners: none

DDF-3201 Code review updates
  catalog/core/catalog-core-solr/src/main/java/ddf/catalog/source/solr/SolrFilterDelegate.java
  catalog/core/catalog-core-solr/src/main/java/ddf/catalog/source/solr/SolrMetacardClientImpl.java
  catalog/spatial/csw/spatial-csw-endpoint/src/main/java/org/codice/ddf/spatial/ogc/csw/catalog/endpoint/CswQueryFactory.java
  catalog/spatial/csw/spatial-csw-source-common/src/main/java/org/codice/ddf/spatial/ogc/csw/catalog/common/source/AbstractCswSource.java
  distribution/test/itests/test-itests-ddf/src/test/java/ddf/test/itests/catalog/TestCatalog.java
Owners: none

DDF-3211 Change to instanceof check for property value
  catalog/ui/catalog-ui-search/src/main/java/org/codice/ddf/catalog/ui/config/ConfigurationApplication.java
Owners: none

DDF-3211 Additional documentation
  distribution/docs/src/main/resources/_contents/_tables/org.codice.ddf.catalog.ui.config-table-contents.adoc
Owners: none

DDF-3211 Add configuration for Intrigue to directly retrieve map tiles.
  catalog/ui/catalog-ui-search/src/main/java/org/codice/ddf/catalog/ui/config/ConfigurationApplication.java
  distribution/docs/src/main/resources/_contents/_tables/org.codice.ddf.catalog.ui.config-table-contents.adoc
Owners: none

DDF-3180 Add relative temporal queries to Intrigue
  catalog/core/catalog-core-impl/filter-proxy/src/main/java/ddf/catalog/filter/proxy/adapter/GeotoolsFilterAdapterImpl.java
  catalog/core/catalog-core-impl/filter-proxy/src/test/java/ddf/catalog/filter/proxy/adapter/test/FilterAdapterTest.java
  catalog/ui/catalog-ui-search/src/main/webapp/component/property/property.js
  catalog/ui/catalog-ui-search/src/main/webapp/component/query-basic/query-basic.hbs
  catalog/ui/catalog-ui-search/src/main/webapp/component/query-basic/query-basic.less
  catalog/ui/catalog-ui-search/src/main/webapp/component/query-basic/query-basic.view.js
  catalog/ui/catalog-ui-search/src/main/webapp/js/CQLUtils.js
  catalog/ui/catalog-ui-search/src/main/webapp/js/cql.js
  catalog/ui/catalog-ui-search/src/main/webapp/js/cql.spec.js
  catalog/ui/catalog-ui-search/webpack/config/ci.js
  catalog/ui/catalog-ui-search/webpack/config/test.js
Owners: none

DDF-3180 Removed weeks support
  catalog/ui/catalog-ui-search/src/main/webapp/component/query-basic/query-basic.view.js
Owners: none

DDF-3180 abandon moment.js for presenting durations
  catalog/ui/catalog-ui-search/src/main/webapp/component/query-basic/query-basic.view.js
Owners: none

DDF-3180 Abandon moment.js entirely
  catalog/ui/catalog-ui-search/src/main/webapp/component/query-basic/query-basic.view.js
Owners: none

DDF-3034 Added a max result count
  catalog/core/catalog-core-api-impl/src/main/java/ddf/catalog/util/impl/ResultIterable.java
  catalog/core/catalog-core-api-impl/src/main/java/ddf/catalog/util/impl/ResultListIterable.java
  catalog/core/catalog-core-api-impl/src/test/groovy/ddf/catalog/util/impl/ResultIterableSpec.groovy
  catalog/core/catalog-core-api-impl/src/test/groovy/ddf/catalog/util/impl/ResultListIterableSpec.groovy
  catalog/core/catalog-core-api/src/main/java/ddf/catalog/CatalogFramework.java
  catalog/core/catalog-core-commands/pom.xml
  catalog/core/catalog-core-commands/src/main/java/org/codice/ddf/commands/catalog/ExportCommand.java
  catalog/ui/catalog-ui-search/src/main/java/org/codice/ddf/catalog/ui/metacard/MetacardApplication.java
  catalog/ui/catalog-ui-search/src/main/java/org/codice/ddf/catalog/ui/metacard/associations/Associated.java
  catalog/ui/catalog-ui-search/src/main/java/org/codice/ddf/catalog/ui/util/EndpointUtil.java
  catalog/ui/catalog-ui-search/src/test/java/org/codice/ddf/catalog/ui/util/EndpointUtilTest.java
Owners: none

DDF-3180 Fixed month casing
  catalog/ui/catalog-ui-search/src/main/webapp/component/query-basic/query-basic.view.js
Owners: none

DDF-3201 Add multi-attribute sorting for CSW (#2205)
  catalog/core/catalog-core-api-impl/src/main/java/ddf/catalog/util/impl/CollectionResultComparator.java
  catalog/core/catalog-core-api-impl/src/test/java/ddf/catalog/util/impl/CollectionResultComparatorTest.java
  catalog/core/catalog-core-solr/src/main/java/ddf/catalog/source/solr/SolrFilterDelegate.java
  catalog/core/catalog-core-solr/src/main/java/ddf/catalog/source/solr/SolrMetacardClientImpl.java
  catalog/core/catalog-core-solr/src/test/java/ddf/catalog/source/solr/SolrFilterDelegateTest.java
  catalog/core/catalog-core-solr/src/test/java/ddf/catalog/source/solr/SolrProviderTest.java
  catalog/core/catalog-core-standardframework/src/main/java/ddf/catalog/cache/solr/impl/SortedQueryMonitor.java
  catalog/spatial/csw/spatial-csw-endpoint/src/main/java/org/codice/ddf/spatial/ogc/csw/catalog/endpoint/CswQueryFactory.java
  catalog/spatial/csw/spatial-csw-source-common/src/main/java/org/codice/ddf/spatial/ogc/csw/catalog/common/source/AbstractCswSource.java
  catalog/ui/search-ui/search-endpoint/src/main/java/org/codice/ddf/ui/searchui/query/solr/FilteringDynamicSchemaResolver.java
  distribution/test/itests/test-itests-common/src/main/resources/csw-multi-sort-asc.xml
  distribution/test/itests/test-itests-common/src/main/resources/csw-multi-sort-desc.xml
  distribution/test/itests/test-itests-common/src/main/resources/sorttestcard1.xml
  distribution/test/itests/test-itests-common/src/main/resources/sorttestcard2.xml
  distribution/test/itests/test-itests-ddf/src/test/java/ddf/test/itests/catalog/TestCatalog.java
Owners: none

DDF-3180 Add temporal query support to Intrigue (#2212)
  catalog/core/catalog-core-impl/filter-proxy/src/main/java/ddf/catalog/filter/proxy/adapter/GeotoolsFilterAdapterImpl.java
  catalog/core/catalog-core-impl/filter-proxy/src/test/java/ddf/catalog/filter/proxy/adapter/test/FilterAdapterTest.java
  catalog/ui/catalog-ui-search/src/main/webapp/component/property/property.js
  catalog/ui/catalog-ui-search/src/main/webapp/component/query-basic/query-basic.hbs
  catalog/ui/catalog-ui-search/src/main/webapp/component/query-basic/query-basic.less
  catalog/ui/catalog-ui-search/src/main/webapp/component/query-basic/query-basic.view.js
  catalog/ui/catalog-ui-search/src/main/webapp/js/CQLUtils.js
  catalog/ui/catalog-ui-search/src/main/webapp/js/cql.js
  catalog/ui/catalog-ui-search/src/main/webapp/js/cql.spec.js
  catalog/ui/catalog-ui-search/webpack/config/ci.js
  catalog/ui/catalog-ui-search/webpack/config/test.js
Owners: none

DDF-3034 Added a max result count (#2207)
  catalog/core/catalog-core-api-impl/src/main/java/ddf/catalog/util/impl/ResultIterable.java
  catalog/core/catalog-core-api-impl/src/main/java/ddf/catalog/util/impl/ResultListIterable.java
  catalog/core/catalog-core-api-impl/src/test/groovy/ddf/catalog/util/impl/ResultIterableSpec.groovy
  catalog/core/catalog-core-api-impl/src/test/groovy/ddf/catalog/util/impl/ResultListIterableSpec.groovy
  catalog/core/catalog-core-api/src/main/java/ddf/catalog/CatalogFramework.java
  catalog/core/catalog-core-commands/pom.xml
  catalog/core/catalog-core-commands/src/main/java/org/codice/ddf/commands/catalog/ExportCommand.java
  catalog/ui/catalog-ui-search/src/main/java/org/codice/ddf/catalog/ui/metacard/MetacardApplication.java
  catalog/ui/catalog-ui-search/src/main/java/org/codice/ddf/catalog/ui/metacard/associations/Associated.java
  catalog/ui/catalog-ui-search/src/main/java/org/codice/ddf/catalog/ui/util/EndpointUtil.java
  catalog/ui/catalog-ui-search/src/test/java/org/codice/ddf/catalog/ui/util/EndpointUtilTest.java
Owners: none

DDF-3211 Updated Map Layer wizard
  catalog/admin/module/catalog-admin-module-maplayers/src/main/webapp/map-layers/index.js
  catalog/admin/module/catalog-admin-module-maplayers/src/main/webapp/map-layers/reducer.js
  catalog/ui/catalog-ui-search/src/main/java/org/codice/ddf/catalog/ui/config/ConfigurationApplication.java
  catalog/ui/catalog-ui-search/src/test/java/org/codice/ddf/catalog/ui/config/ConfigurationApplicationTest.java
  distribution/docs/src/main/resources/_contents/_tables/org.codice.ddf.catalog.ui.config-table-contents.adoc
Owners: none

DDF-3103 Fix registry ajax callbacks after jquery version upgrade.
  catalog/spatial/registry/registry-admin-modules/registry-admin-local-ui/src/main/webapp/js/model/Node.js
  catalog/spatial/registry/registry-admin-modules/registry-admin-local-ui/src/main/webapp/js/view/NodeModal.view.js
Owners: none

DDF-3139 Adds reentrant lock to prevent concurrent scheduled and explicit sets from stepping on each other.
  platform/security/handler/security-handler-pki/src/main/java/org/codice/ddf/security/handler/pki/CrlChecker.java
  platform/security/handler/security-handler-pki/src/test/java/org/codice/ddf/security/handler/pki/CrlCheckerTest.java
  platform/security/handler/security-handler-pki/src/test/resources/crl-revoked.pem
  platform/security/handler/security-handler-pki/src/test/resources/crl-valid.pem
Owners: none

DDF-3139 Adds reentrant lock to prevent concurrent scheduled and explicit sets from stepping on each other. (#2233)
  platform/security/handler/security-handler-pki/src/main/java/org/codice/ddf/security/handler/pki/CrlChecker.java
  platform/security/handler/security-handler-pki/src/test/java/org/codice/ddf/security/handler/pki/CrlCheckerTest.java
  platform/security/handler/security-handler-pki/src/test/resources/crl-revoked.pem
  platform/security/handler/security-handler-pki/src/test/resources/crl-valid.pem
Owners: none

DDF-3034 Updated ResultIterable log message to exclude 0
  catalog/core/catalog-core-api-impl/src/main/java/ddf/catalog/util/impl/ResultIterable.java
Owners: none

DDF-3212 Add support for proximity (NEAR) keyword queries
  catalog/ui/catalog-ui-search/src/main/webapp/component/filter-comparator/filter-comparator.view.js
  catalog/ui/catalog-ui-search/src/main/webapp/component/filter/filter-param.js
  catalog/ui/catalog-ui-search/src/main/webapp/component/filter/filter.hbs
  catalog/ui/catalog-ui-search/src/main/webapp/component/filter/filter.js
  catalog/ui/catalog-ui-search/src/main/webapp/component/filter/filter.less
  catalog/ui/catalog-ui-search/src/main/webapp/component/filter/filter.view.js
  catalog/ui/catalog-ui-search/src/main/webapp/js/CQLUtils.js
  catalog/ui/catalog-ui-search/src/main/webapp/js/cql.js
Owners: none

DDF-3212 Don't allow NEAR comparator as a search result filter
  catalog/ui/catalog-ui-search/src/main/webapp/component/filter-builder/filter-builder.view.js
  catalog/ui/catalog-ui-search/src/main/webapp/component/filter-comparator/filter-comparator.view.js
  catalog/ui/catalog-ui-search/src/main/webapp/component/result-filter/result-filter.view.js
Owners: none

DDF-2304 Fix InsecureDefaultsCollector.getTruststorePath (#2230)
  platform/admin/core/admin-core-insecuredefaults/src/main/java/org/codice/ddf/admin/insecure/defaults/service/InsecureDefaultsCollector.java
Owners: none

DDF-3103 Fix registry ajax callbacks after jquery version upgrade. (#2235)
  catalog/spatial/registry/registry-admin-modules/registry-admin-local-ui/src/main/webapp/js/model/Node.js
  catalog/spatial/registry/registry-admin-modules/registry-admin-local-ui/src/main/webapp/js/view/NodeModal.view.js
Owners: none

DDF-3225 Improve performance of XStreamPathConverter
  catalog/spatial/csw/spatial-csw-transformer/src/main/java/org/codice/ddf/spatial/ogc/csw/catalog/converter/XstreamPathConverter.java
  catalog/spatial/csw/spatial-csw-transformer/src/test/java/org/codice/ddf/spatial/ogc/csw/catalog/converter/TestXstreamPathConverter.java
Owners: none

DDF-3034 Updated ResultIterable log message to exclude 0 (#2237)
  catalog/core/catalog-core-api-impl/src/main/java/ddf/catalog/util/impl/ResultIterable.java
Owners: none

DDF-3212 Upgrade chai because the current version deep matcher is broken
  catalog/ui/catalog-ui-search/package.json
  catalog/ui/catalog-ui-search/yarn.lock
Owners: @andrewkfiedler

DDF-3212 Add tests for filter function handling in cql
  catalog/ui/catalog-ui-search/src/main/webapp/js/cql.js
  catalog/ui/catalog-ui-search/src/main/webapp/js/cql.spec.js
Owners: none

DDF-3215 updates to plugins docs
  distribution/docs/src/main/jdocs/content/_application-references/managing-resource-management-contents.adoc
  distribution/docs/src/main/jdocs/content/_eventing/subscriptions-contents.adoc
  distribution/docs/src/main/jdocs/content/_plugins/catalog-metrics-plugin-contents.adoc
  distribution/docs/src/main/jdocs/content/_plugins/catalog-policy-plugin-contents.adoc
  distribution/docs/src/main/jdocs/content/_plugins/content-uri-access-plugin-contents.adoc
  distribution/docs/src/main/jdocs/content/_plugins/event-processor-contents.adoc
  distribution/docs/src/main/jdocs/content/_plugins/filter-plugin-contents.adoc
  distribution/docs/src/main/jdocs/content/_plugins/historian-plugin-contents.adoc
  distribution/docs/src/main/jdocs/content/_plugins/resource-usage-plugin-contents.adoc
  distribution/docs/src/main/jdocs/content/_plugins/source-metrics-plugin-contents.adoc
  distribution/docs/src/main/jdocs/content/_tables/Claims_Handler_Manager-table-contents.adoc
  distribution/docs/src/main/jdocs/content/_tables/org.codice.ddf.catalog.security.policy.metacard.MetacardAttributeSecurityPolicyPlugin-table-contents.adoc
  distribution/docs/src/main/jdocs/content/_tables/org.codice.ddf.resourcemanagement.usage-table-contents.adoc
  distribution/docs/src/main/jdocs/templates/plugins.ftl
  distribution/docs/src/main/resources/_contents/_plugins/catalog-policy-plugin-contents.adoc
  distribution/docs/src/main/resources/_contents/_plugins/resource-usage-plugin-contents.adoc
  distribution/docs/src/main/resources/_contents/_plugins/xml-attribute-security-policy-plugin-contents.adoc
  distribution/docs/src/main/resources/_contents/_security-framework/security-sts-ldap-claims-handler-contents.adoc
  distribution/docs/src/main/resources/_contents/_tables/Claims_Handler_Manager-table-contents.adoc
Owners: none

DDF-3218 Make ConfluenceSource more configurable. - Fix connected source implementation - Fix username/password update issue - Fix how we determine catalog provider in TagsFilterQueryPlugin
  catalog/confluence/catalog-confluence-source/pom.xml
  catalog/confluence/catalog-confluence-source/src/main/java/org/codice/ddf/confluence/source/ConfluenceFilterDelegate.java
  catalog/confluence/catalog-confluence-source/src/main/java/org/codice/ddf/confluence/source/ConfluenceSource.java
  catalog/confluence/catalog-confluence-source/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  catalog/confluence/catalog-confluence-source/src/main/resources/OSGI-INF/metatype/metatype.xml
  catalog/confluence/catalog-confluence-source/src/test/java/org/codice/ddf/confluence/source/ConfluenceFilterDelegateTest.java
  catalog/confluence/catalog-confluence-source/src/test/java/org/codice/ddf/confluence/source/ConfluenceSourceTest.java
  catalog/core/catalog-core-tagsfilterplugin/src/main/java/org/codice/ddf/catalog/plugin/tagsfilter/TagsFilterQueryPlugin.java
  catalog/core/catalog-core-tagsfilterplugin/src/test/java/org/codice/ddf/catalog/plugin/tagsfilter/TagsFilterQueryPluginTest.java
  distribution/docs/src/main/jdocs/content/_tables/ddf.catalog.transformer.xml.XmlResponseQueueTransformer-table-contents.adoc
  distribution/docs/src/main/jdocs/content/_tables/org.codice.ddf.catalog.ui.config-table-contents.adoc
  distribution/docs/src/main/resources/_contents/_tables/Confluence_Federated_Source-table-contents.adoc
  distribution/docs/src/main/resources/_contents/_tables/org.codice.ddf.platform.email.impl.SmtpClientImpl-table-contents.adoc
Owners: none

DDF-3212 Fixes for PR feedback
  catalog/ui/catalog-ui-search/src/main/webapp/component/filter-builder/filter-builder.view.js
  catalog/ui/catalog-ui-search/src/main/webapp/component/filter/filter.view.js
Owners: none

DDF-3225 Improve performance of XStreamPathConverter (#2232)
  catalog/spatial/csw/spatial-csw-transformer/src/main/java/org/codice/ddf/spatial/ogc/csw/catalog/converter/XstreamPathConverter.java
  catalog/spatial/csw/spatial-csw-transformer/src/test/java/org/codice/ddf/spatial/ogc/csw/catalog/converter/TestXstreamPathConverter.java
Owners: none

DDF-3224 added configurable list of context classes to idp handler - fixed cardinality display of types other than text - added config drop down options for cardinality display in idp handler config
  platform/admin/ui/src/main/webapp/js/views/configuration/ConfigurationEdit.view.js
  platform/admin/ui/src/main/webapp/templates/configuration/textTypeList.handlebars
  platform/security/idp/security-idp-client/src/main/java/org/codice/ddf/security/idp/client/IdpHandler.java
  platform/security/idp/security-idp-client/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/security/idp/security-idp-client/src/main/resources/OSGI-INF/metatype/metatype.xml
  platform/security/idp/security-idp-client/src/test/java/org/codice/ddf/security/idp/client/IdpHandlerTest.java
Owners: none

DDF-3224 added configurable list of context classes to idp handler (#2231)
  platform/admin/ui/src/main/webapp/js/views/configuration/ConfigurationEdit.view.js
  platform/admin/ui/src/main/webapp/templates/configuration/textTypeList.handlebars
  platform/security/idp/security-idp-client/src/main/java/org/codice/ddf/security/idp/client/IdpHandler.java
  platform/security/idp/security-idp-client/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/security/idp/security-idp-client/src/main/resources/OSGI-INF/metatype/metatype.xml
  platform/security/idp/security-idp-client/src/test/java/org/codice/ddf/security/idp/client/IdpHandlerTest.java
Owners: none
