Repository codice/ddf, changes with the owners that CODEOWNERS names for each.
All owners: @stustison, @ricklarsen, @codice/test, @codice/core-apis, @rzwiefel, @codice/security, @bdeining, @clockard, @andrewkfiedler, @coyotesqrl

DDF-3259 Checkstyle
  catalog/spatial/csw/spatial-csw-endpoint/src/test/java/org/codice/ddf/spatial/ogc/csw/catalog/endpoint/CswQueryFactoryTest.java
Owners: @bdeining

DDF-3270 adds support for KMZ files
  catalog/spatial/kml/spatial-kml-transformer/src/main/java/org/codice/ddf/spatial/kml/transformer/KmzInputTransformer.java
  catalog/spatial/kml/spatial-kml-transformer/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  catalog/spatial/kml/spatial-kml-transformer/src/test/java/org/codice/ddf/spatial/kml/transformer/TestKmzInputTransformer.java
  catalog/spatial/kml/spatial-kml-transformer/src/test/resources/point.kmz
Owners: none

DDF-3259 Moved SortBy normalization logic after the query filter transforms (#2289)
  catalog/spatial/csw/spatial-csw-endpoint/src/main/java/org/codice/ddf/spatial/ogc/csw/catalog/endpoint/CswQueryFactory.java
  catalog/spatial/csw/spatial-csw-endpoint/src/main/java/org/codice/ddf/spatial/ogc/csw/catalog/endpoint/mappings/MetacardCswRecordMap.java
  catalog/spatial/csw/spatial-csw-endpoint/src/main/java/org/codice/ddf/spatial/ogc/csw/catalog/endpoint/transformer/CswRecordMap.java
  catalog/spatial/csw/spatial-csw-endpoint/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  catalog/spatial/csw/spatial-csw-endpoint/src/test/java/org/codice/ddf/spatial/ogc/csw/catalog/endpoint/CswQueryFactoryTest.java
Owners: @bdeining

DDF-3263 Update to check before calculating trace logs
  catalog/solr/catalog-solr-solrclient/pom.xml
  catalog/solr/catalog-solr-solrclient/src/main/java/ddf/catalog/source/solr/rest/SolrRest.java
  catalog/solr/catalog-solr-solrclient/src/main/resources/OSGI-INF/metatype/metatype.xml
Owners: none

DDF-3054 Adds owasp suppression for CVE-2016-8739 (#2292)
  dependency-check-maven-config.xml
Owners: none

DDF-3260 Upgrade wss4j
  platform/platform-app/src/main/resources/features.xml
  pom.xml
Owners: none

DDF-3260 Reverts DDF-3187 change that added new merlin class
  catalog/transformer/catalog-transformer-zip/pom.xml
  catalog/transformer/catalog-transformer-zip/src/main/java/org/codice/ddf/catalog/transformer/zip/ZipValidator.java
  distribution/ddf-common/src/main/resources/etc/ws-security/issuer/encryption.properties
  distribution/ddf-common/src/main/resources/etc/ws-security/issuer/signature.properties
  distribution/ddf-common/src/main/resources/etc/ws-security/server/encryption.properties
  distribution/ddf-common/src/main/resources/etc/ws-security/server/signature.properties
  platform/platform-app/pom.xml
  platform/platform-app/src/main/resources/features.xml
  platform/platform-crypto-provider/pom.xml
  platform/platform-crypto-provider/src/main/java/org/apache/wss4j/common/crypto/MerlinExtension.java
  platform/pom.xml
  platform/security/filter/security-filter-login/pom.xml
  platform/security/sts/security-sts-realm/pom.xml
Owners: @stustison, @codice/security

DDF-3260 Updates waitForReady command
  distribution/ddf-common/src/main/resources/etc/shell.init.script
Owners: @stustison

DDF-3021 Fixed a missing requirement in catalog-core-directorymonitor
  catalog/core/catalog-core-directorymonitor/pom.xml
Owners: @codice/core-apis

DDF-3021 Moved the ddf-branding feature into its own feature repository
  distribution/ddf-branding-app/pom.xml
  distribution/ddf-branding-app/src/main/resources/features.xml
  distribution/ddf/pom.xml
  distribution/ddf/src/main/filtered-resources/etc/org.apache.karaf.features.cfg
  distribution/ddf/src/main/filtered-resources/etc/org.codice.ddf.admin.application.service.impl.ApplicationServiceImpl.config
  distribution/kernel/pom.xml
  distribution/kernel/src/main/filtered-resources/kernel-features.xml
  distribution/pom.xml
  platform/platform-app/src/main/resources/features.xml
Owners: none

DDF-3021 Moved the kernel features to platform-app, and removed the kernel features repository
  distribution/ddf/pom.xml
  distribution/ddf/src/main/filtered-resources/etc/org.apache.karaf.features.cfg
  distribution/ddf/src/main/filtered-resources/etc/org.codice.ddf.admin.application.service.impl.ApplicationServiceImpl.config
  distribution/kernel/pom.xml
  distribution/kernel/src/main/descriptors/bin.xml
  distribution/kernel/src/main/filtered-resources/etc/org.apache.karaf.features.cfg
  distribution/kernel/src/main/filtered-resources/kernel-features.xml
  platform/platform-app/pom.xml
  platform/platform-app/src/main/resources/features.xml
Owners: none

DDF-3021 Renamed ddf.distribution/branding-api to ddf.platform/branding-api
  catalog/core/catalog-core-directorymonitor/src/test/java/org/codice/ddf/catalog/content/monitor/ContentDirectoryMonitorIT.java
  catalog/pom.xml
  catalog/spatial/kml/spatial-kml-networklinkendpoint/pom.xml
  catalog/ui/catalog-ui-search/pom.xml
  catalog/ui/search-ui/simple/pom.xml
  catalog/ui/search-ui/standard/pom.xml
  distribution/ddf-branding-plugin/pom.xml
  distribution/kernel/src/main/filtered-resources/kernel-features.xml
  platform/admin/ui/pom.xml
  platform/branding-api/pom.xml
  platform/landing-page/pom.xml
  platform/platform-configuration/pom.xml
  platform/pom.xml
  platform/security/handler/security-handler-guest/pom.xml
Owners: @codice/core-apis, @andrewkfiedler, @rzwiefel, @stustison, @codice/security

DDF-3263 Solr similarity configuration (#2293)
  catalog/solr/catalog-solr-solrclient/pom.xml
  catalog/solr/catalog-solr-solrclient/src/main/java/ddf/catalog/source/solr/rest/SolrRest.java
  catalog/solr/catalog-solr-solrclient/src/main/java/ddf/catalog/source/solr/rest/SolrRestClient.java
  catalog/solr/catalog-solr-solrclient/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  catalog/solr/catalog-solr-solrclient/src/main/resources/OSGI-INF/metatype/metatype.xml
  catalog/solr/catalog-solr-solrclient/src/test/java/ddf/catalog/source/solr/rest/SolrRestTest.java
  catalog/solr/pom.xml
  catalog/solr/solr-app/pom.xml
  catalog/solr/solr-app/src/main/resources/features.xml
  distribution/test/itests/test-itests-ddf/pom.xml
  distribution/test/itests/test-itests-ddf/src/test/java/ddf/test/itests/catalog/TestCatalog.java
Owners: @codice/test

DDF-3260 Upgrade wss4j (#2291)
  catalog/transformer/catalog-transformer-zip/pom.xml
  catalog/transformer/catalog-transformer-zip/src/main/java/org/codice/ddf/catalog/transformer/zip/ZipValidator.java
  distribution/ddf-common/src/main/resources/etc/shell.init.script
  distribution/ddf-common/src/main/resources/etc/ws-security/issuer/encryption.properties
  distribution/ddf-common/src/main/resources/etc/ws-security/issuer/signature.properties
  distribution/ddf-common/src/main/resources/etc/ws-security/server/encryption.properties
  distribution/ddf-common/src/main/resources/etc/ws-security/server/signature.properties
  platform/platform-app/pom.xml
  platform/platform-app/src/main/resources/features.xml
  platform/platform-crypto-provider/pom.xml
  platform/platform-crypto-provider/src/main/java/org/apache/wss4j/common/crypto/MerlinExtension.java
  platform/pom.xml
  platform/security/filter/security-filter-login/pom.xml
  platform/security/sts/security-sts-realm/pom.xml
  pom.xml
Owners: @stustison, @codice/security

Update PULL_REQUEST_TEMPLATE (#2286)
  PULL_REQUEST_TEMPLATE
Owners: none

DDF-3021 Removed the kernel features repository (#2288)
  catalog/core/catalog-core-directorymonitor/pom.xml
  catalog/core/catalog-core-directorymonitor/src/test/java/org/codice/ddf/catalog/content/monitor/ContentDirectoryMonitorIT.java
  catalog/pom.xml
  catalog/spatial/kml/spatial-kml-networklinkendpoint/pom.xml
  catalog/ui/catalog-ui-search/pom.xml
  catalog/ui/search-ui/simple/pom.xml
  catalog/ui/search-ui/standard/pom.xml
  distribution/ddf-branding-app/pom.xml
  distribution/ddf-branding-app/src/main/resources/features.xml
  distribution/ddf-branding-plugin/pom.xml
  distribution/ddf/pom.xml
  distribution/ddf/src/main/filtered-resources/etc/org.apache.karaf.features.cfg
  distribution/ddf/src/main/filtered-resources/etc/org.codice.ddf.admin.application.service.impl.ApplicationServiceImpl.config
  distribution/kernel/pom.xml
  distribution/kernel/src/main/descriptors/bin.xml
  distribution/kernel/src/main/filtered-resources/etc/org.apache.karaf.features.cfg
  distribution/pom.xml
  platform/admin/ui/pom.xml
  platform/branding-api/pom.xml
  platform/landing-page/pom.xml
  platform/platform-app/pom.xml
  platform/platform-app/src/main/resources/features.xml
  platform/platform-configuration/pom.xml
  platform/pom.xml
  platform/security/handler/security-handler-guest/pom.xml
Owners: @codice/core-apis, @andrewkfiedler, @rzwiefel, @stustison, @codice/security

DDF-3272 fixed dump command by adding pagination
  catalog/core/catalog-core-commands/src/main/java/org/codice/ddf/commands/catalog/DumpCommand.java
Owners: @codice/core-apis

DDF-3233 Fix paging status when there are no results
  catalog/ui/catalog-ui-search/src/main/webapp/js/model/Query.js
Owners: @andrewkfiedler

DDF-3121 Upgraded Karaf to 4.1.2
  catalog/core/catalog-core-standardframework/pom.xml
  dependency-check-maven-config.xml
  distribution/ddf-common/src/main/resources/bin/setenv
  distribution/ddf-common/src/main/resources/bin/setenv.bat
  distribution/ddf-common/src/main/resources/etc/custom.properties
  distribution/ddf-common/src/main/resources/etc/shell.init.script
  distribution/ddf-common/src/main/resources/etc/system.properties
  distribution/ddf/src/main/filtered-resources/etc/org.apache.karaf.features.cfg
  distribution/docs/src/main/jdocs/content/_running/starting-intro-contents.adoc
  distribution/docs/src/main/resources/_contents/_running/starting-intro-contents.adoc
  distribution/kernel/pom.xml
  distribution/test/itests/test-itests-common/pom.xml
  distribution/test/itests/test-itests-common/src/main/java/org/codice/ddf/itests/common/AbstractIntegrationTest.java
  platform/admin/core/admin-core-appservice/pom.xml
  platform/platform-app/pom.xml
  platform/platform-app/src/main/resources/features.xml
  pom.xml
Owners: @codice/core-apis, @stustison, @ricklarsen, @codice/test

DDF-3121 Fixed boot features CircularPrerequisiteException on spring
  platform/platform-app/src/main/resources/features.xml
Owners: none

DDF-3121 Updated .config files to fix format of lists, Floats, and Doubles
  catalog/ui/search-ui-app/src/main/resources/etc/org.codice.ddf.catalog.ui.config.config
  catalog/ui/search-ui-app/src/main/resources/org.codice.ddf.ui.searchui.filter.RedirectServlet.config
  distribution/ddf-common/src/main/resources/etc/templates/example.ManagedService.config
  distribution/ddf-common/src/main/resources/etc/templates/example.ManagedServiceFactory-1.config
  distribution/ddf-common/src/main/resources/etc/templates/example.ManagedServiceFactory-2.config
  distribution/ddf-common/src/main/resources/etc/templates/sources/Csw_Connected_Source-1.config
  distribution/ddf-common/src/main/resources/etc/templates/sources/Csw_Federated_Source-1.config
  distribution/ddf-common/src/main/resources/etc/templates/sources/OpenSearchSource-1.config
  distribution/ddf-common/src/main/resources/etc/templates/sources/Wfs_v1_0_0_Connected_Source-1.config
  distribution/ddf-common/src/main/resources/etc/templates/sources/Wfs_v1_0_0_Federated_Source-1.config
  distribution/ddf-common/src/main/resources/etc/templates/sources/Wfs_v2_0_0_Connected_Source-1.config
  distribution/ddf-common/src/main/resources/etc/templates/sources/Wfs_v2_0_0_Federated_Source-1.config
  distribution/ddf/src/main/filtered-resources/etc/org.codice.ddf.admin.application.service.impl.ApplicationServiceImpl.config
  distribution/docs/src/main/jdocs/content/_configuring/configuring-managed-service-factory-bundles-contents.adoc
  distribution/docs/src/main/jdocs/content/_configuring/configuring-with-config-files-contents.adoc
  distribution/docs/src/main/resources/_contents/_configuring/configuring-managed-service-factory-bundles-contents.adoc
  distribution/docs/src/main/resources/_contents/_configuring/configuring-with-config-files-contents.adoc
  distribution/test/itests/test-itests-common/src/main/resources/ddf.catalog.solr.external.SolrHttpCatalogProvider.config
  distribution/test/itests/test-itests-common/src/main/resources/ddf.catalog.solr.provider.SolrCatalogProvider.config
  platform/platform-app/src/main/resources/DDF_Custom_Mime_Type_Resolver-csw.config
  platform/platform-app/src/main/resources/DDF_Custom_Mime_Type_Resolver-geojson.config
  platform/platform-app/src/main/resources/DDF_Custom_Mime_Type_Resolver-nitf.config
  platform/platform-app/src/main/resources/DDF_Custom_Mime_Type_Resolver-xml.config
  platform/security/security-services-app/src/main/resources/ddf.security.pdp.realm.AuthzRealm.config
  platform/security/security-services-app/src/main/resources/etc/Claims_Handler_Manager-ddf.security.sts.claimsHandler.ClaimsHandlerManager.config
  platform/security/security-services-app/src/main/resources/etc/Ldap_Login_Config-ddf.ldap.ldaplogin.LdapLoginConfig.config
Owners: @stustison, @ricklarsen, @codice/test, @codice/security

DDF-3121 Added location information back to log:display format
  distribution/ddf-common/src/main/resources/etc/org.apache.karaf.log.cfg
Owners: @stustison

DDF-3121 Fixed hitting `tab` on an empty console to list available commands
  distribution/ddf-common/src/main/resources/etc/shell.init.script
Owners: @stustison

DDF-3121 Updated service script filename in Documentation
  distribution/docs/src/main/jdocs/content/_running/starting-intro-contents.adoc
  distribution/docs/src/main/resources/_contents/_running/starting-intro-contents.adoc
Owners: @ricklarsen

DDF-3121 Upgraded to Felix Configadmin 1.8.14 in itests
  platform/platform-scheduler/pom.xml
  pom.xml
Owners: none

DDF-3274 added truststore properties to pax web config
  distribution/ddf-common/src/main/resources/etc/org.ops4j.pax.web.cfg
Owners: @stustison

DDF-3273 Disable SSH by default
  distribution/ddf-common/src/main/resources/common-bin.xml
  distribution/ddf-common/src/main/resources/etc/org.apache.karaf.shell.cfg
  distribution/docs/src/main/jdocs/content/_configuring/environment-hardening-contents.adoc
  distribution/docs/src/main/resources/_contents/_securing/environment-hardening-contents.adoc
Owners: @stustison, @ricklarsen

DDF-3273 Disable SSH by default (#2297)
  distribution/ddf-common/src/main/resources/common-bin.xml
  distribution/ddf-common/src/main/resources/etc/org.apache.karaf.shell.cfg
  distribution/docs/src/main/jdocs/content/_configuring/environment-hardening-contents.adoc
  distribution/docs/src/main/resources/_contents/_securing/environment-hardening-contents.adoc
Owners: @stustison, @ricklarsen

DDF-3210 Updated catalog taxonomy to support new DCMI-defined types
  catalog/core/catalog-core-api/src/main/java/ddf/catalog/data/types/constants/core/DataType.java
  catalog/transformer/catalog-transformer-pdf/src/main/java/ddf/catalog/transformer/input/pdf/PdfInputTransformer.java
  catalog/transformer/catalog-transformer-video-input/src/main/java/ddf/catalog/transformer/input/video/VideoInputTransformer.java
  catalog/transformer/catalog-transformer-video-input/src/test/java/ddf/catalog/transformer/input/video/VideoInputTransformerTest.java
  distribution/ddf-common/src/main/resources/etc/definitions/core-attributes-validator.json
  distribution/docs/src/main/resources/_contents/_data/core-attributes-table-contents.adoc
  distribution/test/itests/test-itests-common/src/main/resources/xml/record/testNumerical.xml
Owners: @codice/core-apis, @stustison, @ricklarsen, @codice/test

DDF-2850 Make gazetteer configurable in Intrigue.
  catalog/ui/catalog-ui-search/src/main/java/org/codice/ddf/catalog/ui/config/ConfigurationApplication.java
  catalog/ui/catalog-ui-search/src/main/resources/OSGI-INF/metatype/org.codice.ddf.catalog.ui.config.xml
  catalog/ui/catalog-ui-search/src/main/webapp/component/visualization/maps/cesium/geocoder.js
  catalog/ui/search-ui-app/src/main/resources/etc/org.codice.ddf.catalog.ui.config.config
  distribution/docs/src/main/jdocs/content/_tables/org.codice.ddf.catalog.ui.config-table-contents.adoc
Owners: @rzwiefel, @andrewkfiedler, @ricklarsen

DDF-3047 Enable system restart from installer
  platform/admin/ui/src/main/webapp/js/models/Installer.js
  platform/admin/ui/src/main/webapp/js/views/installer/Navigation.view.js
  platform/admin/ui/src/main/webapp/templates/installer/finish.handlebars
  platform/admin/ui/src/main/webapp/templates/installer/navigationButtons.handlebars
Owners: @stustison

DDF-3274 added truststore properties to pax web config (#2301)
  distribution/ddf-common/src/main/resources/etc/org.ops4j.pax.web.cfg
Owners: @stustison

DDF-3210 Updated catalog taxonomy to support new DCMI-defined types (#2298)
  catalog/core/catalog-core-api/src/main/java/ddf/catalog/data/types/constants/core/DataType.java
  catalog/transformer/catalog-transformer-pdf/src/main/java/ddf/catalog/transformer/input/pdf/PdfInputTransformer.java
  catalog/transformer/catalog-transformer-video-input/src/main/java/ddf/catalog/transformer/input/video/VideoInputTransformer.java
  catalog/transformer/catalog-transformer-video-input/src/test/java/ddf/catalog/transformer/input/video/VideoInputTransformerTest.java
  distribution/ddf-common/src/main/resources/etc/definitions/core-attributes-validator.json
  distribution/docs/src/main/resources/_contents/_data/core-attributes-table-contents.adoc
  distribution/test/itests/test-itests-common/src/main/resources/xml/record/testNumerical.xml
Owners: @codice/core-apis, @stustison, @ricklarsen, @codice/test

DDF-2890 edits to security framework docs
  distribution/docs/src/main/jdocs/content/_developingComponents/developing-token-validators-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/guest-interceptor-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/realms-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-core-api-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-encryption-api-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-encryption-commands-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-expansion-service-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-filtering-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-rest-intro-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-token-service-contents.adoc
Owners: @ricklarsen

DDF-2890 added templates for security framework sections of the documentation.
  distribution/docs/src/main/jdocs/content/_developingComponents/developing-sts-claims-handlers-contents.adoc
  distribution/docs/src/main/jdocs/content/_developingComponents/developing-token-validators-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/guest-interceptor-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/realms-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-core-api-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-core-commons-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-core-implementation-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-core-intro-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-encryption-api-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-encryption-commands-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-encryption-implementation-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-encryption-intro-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-expansion-service-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-filtering-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-framework-intro-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-ldap-embedded-server-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-ldap-intro-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-manager-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-pdp-authz-realm-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-pdp-intro-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-pep-interceptor-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-pep-intro-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-rest-intro-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-soap-intro-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-sts-claims-handler-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-token-service-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-wss-intro-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/subject-contents.adoc
  distribution/docs/src/main/jdocs/content/_tables/org.codice.ddf.catalog.security.ResourceUriPolicy-table-contents.adoc
  distribution/docs/src/main/jdocs/jbake.properties
  distribution/docs/src/main/jdocs/templates/architectures.ftl
  distribution/docs/src/main/jdocs/templates/catalog-frameworks.ftl
  distribution/docs/src/main/jdocs/templates/developing.ftl
  distribution/docs/src/main/jdocs/templates/development-guidelines.ftl
  distribution/docs/src/main/jdocs/templates/documentation.ftl
  distribution/docs/src/main/jdocs/templates/plugins.ftl
  distribution/docs/src/main/jdocs/templates/security-framework.ftl
  distribution/docs/src/main/jdocs/templates/transformers.ftl
Owners: @ricklarsen

DDF-2890 edits to security framework docs
  distribution/docs/src/main/jdocs/content/_security-framework/guest-interceptor-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/realms-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-encryption-commands-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-encryption-intro-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-ldap-embedded-server-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-pdp-authz-realm-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-pep-interceptor-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-pep-intro-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-soap-intro-contents.adoc
Owners: @ricklarsen

DDF-3227 replaced 'localhost' in example urls in docs (#2285)
  distribution/docs/src/main/jdocs/content/_application-references/managing-broker-app-contents.adoc
  distribution/docs/src/main/jdocs/content/_application-references/managing-geowebcache-contents.adoc
  distribution/docs/src/main/jdocs/content/_endpoints/catalog-rest-endpoint-contents.adoc
  distribution/docs/src/main/jdocs/content/_endpoints/cometd-endpoint-contents.adoc
  distribution/docs/src/main/jdocs/content/_endpoints/csw-endpoint-contents.adoc
  distribution/docs/src/main/jdocs/content/_endpoints/ftp-endpoint-contents.adoc
  distribution/docs/src/main/jdocs/content/_endpoints/opensearch-endpoint-contents.adoc
  distribution/docs/src/main/jdocs/content/_quickstart/quickstart-certificates.adoc
  distribution/docs/src/main/jdocs/content/_running/starting-intro-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-services/security-sts-server-contents.adoc
  distribution/docs/src/main/jdocs/content/_sources/.asciidoctor/diagram/embedded-solr-diagram.png.cache
  distribution/docs/src/main/jdocs/content/_sources/.asciidoctor/diagram/http-solr-external-diagram.png.cache
  distribution/docs/src/main/jdocs/content/_sources/.asciidoctor/diagram/http-solr-internal-diagram.png.cache
  distribution/docs/src/main/jdocs/content/_sources/.asciidoctor/diagram/solrcloud-diagram.png.cache
  distribution/docs/src/main/jdocs/content/_sources/embedded-solr-diagram.png
  distribution/docs/src/main/jdocs/content/_sources/http-solr-external-diagram.png
  distribution/docs/src/main/jdocs/content/_sources/http-solr-internal-diagram.png
  distribution/docs/src/main/jdocs/content/_sources/solrcloud-diagram.png
  distribution/docs/src/main/jdocs/content/_tables/Confluence_Federated_Source-table-contents.adoc
  distribution/docs/src/main/jdocs/content/_tables/OpenSearchSource-table-contents.adoc
  distribution/docs/src/main/jdocs/content/_tables/org.codice.ddf.catalog.security.ResourceUriPolicy-table-contents.adoc
  distribution/docs/src/main/jdocs/content/_tables/org.codice.ddf.catalog.ui.query.monitor.email.EmailNotifier-table-contents.adoc
  distribution/docs/src/main/resources/_contents/_broker/configure-ha.adoc
  distribution/docs/src/main/resources/_contents/_endpoints/catalog-rest-endpoint-contents.adoc
  distribution/docs/src/main/resources/_contents/_endpoints/ftp-endpoint-contents.adoc
  distribution/docs/src/main/resources/_contents/_geowebcache-contents/managing-geowebcache-contents.adoc
  distribution/docs/src/main/resources/_contents/_running/starting-intro-contents.adoc
  distribution/docs/src/main/resources/_contents/_security-framework/security-sts-server-contents.adoc
  distribution/docs/src/main/resources/_contents/_tables/OpenSearchSource-table-contents.adoc
  distribution/docs/src/main/resources/_contents/_tables/org.codice.ddf.catalog.ui.query.monitor.email.EmailNotifier-table-contents.adoc
  pom.xml
Owners: @ricklarsen

DDF-2890 added templates for security framework sections of the docs (#2272)
  distribution/docs/src/main/jdocs/content/_developingComponents/developing-sts-claims-handlers-contents.adoc
  distribution/docs/src/main/jdocs/content/_developingComponents/developing-token-validators-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/guest-interceptor-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/realms-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-core-api-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-core-commons-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-core-implementation-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-core-intro-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-encryption-api-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-encryption-commands-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-encryption-implementation-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-encryption-intro-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-expansion-service-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-filtering-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-framework-intro-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-ldap-embedded-server-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-ldap-intro-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-manager-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-pdp-authz-realm-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-pdp-intro-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-pep-interceptor-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-pep-intro-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-rest-intro-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-soap-intro-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-sts-claims-handler-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-token-service-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/security-wss-intro-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-framework/subject-contents.adoc
  distribution/docs/src/main/jdocs/jbake.properties
  distribution/docs/src/main/jdocs/templates/architectures.ftl
  distribution/docs/src/main/jdocs/templates/catalog-frameworks.ftl
  distribution/docs/src/main/jdocs/templates/developing.ftl
  distribution/docs/src/main/jdocs/templates/development-guidelines.ftl
  distribution/docs/src/main/jdocs/templates/documentation.ftl
  distribution/docs/src/main/jdocs/templates/plugins.ftl
  distribution/docs/src/main/jdocs/templates/security-framework.ftl
  distribution/docs/src/main/jdocs/templates/transformers.ftl
Owners: @ricklarsen

DDF-3047 Enable system restart from installer (#2027)
  platform/admin/ui/src/main/webapp/js/models/Installer.js
  platform/admin/ui/src/main/webapp/js/views/installer/Navigation.view.js
  platform/admin/ui/src/main/webapp/templates/installer/finish.handlebars
  platform/admin/ui/src/main/webapp/templates/installer/navigationButtons.handlebars
Owners: @stustison

DDF-3156: Make initial enhancements to the the migration:export command so that it supports cloning for high availability clusters - Removed unneeded files
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ConfigurationFile.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ConfigurationFileFactory.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ManagedServiceConfigurationFile.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ManagedServiceFactoryConfigurationFile.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/admin/ConfigurationFileFactoryTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/admin/ConfigurationFileTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/admin/ManagedServiceConfigurationFileTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/admin/ManagedServiceFactoryConfigurationFileTest.java
Owners: none

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# For more information on CODEOWNERS, see https://help.github.com/articles/about-codeowners/

# Order is important; the last matching pattern takes the most precedence.
# Within each subsection, keep all pattern matches in strict alphabetical order
# to ensure they go from least to most granular. Additionally when adding a more granular pattern,
# you must explicitly add any users/groups marked on broader patterns. Example:
# Given a file starting as
# ===
# catalog/core/                  @user1
# distribution/docs/             @user2
# ===
# When updating to add a pattern match for catalog/core/catalog-core-api for user3, it SHOULD be
# updated to read
# ===
# catalog/core/                  @user1
# catalog/core/catalog-core-api/ @user3 @user1
# distribution/docs/             @user2
# ===
# If user1 were not added to the newly added, more granular match, they would be tagged on all changes
# within the catalog/core/** hierarchy EXCEPT FOR those within catalog/core/catalog-core-api/**.
# Exceptions may be made to this rule on a case-by-case basis with the input of the more general
# codeowners.
#
# Order is important; the last matching pattern takes the most precedence.


###############################
# DISTRIBUTION
###############################

distribution/ddf-common/    @stustison

distribution/docs/          @ricklarsen

distribution/test/          @codice/test


###############################
# CATALOG
###############################

catalog/core/                   @codice/core-apis

catalog/core/catalog-core-commands/src/main/java/org/codice/ddf/commands/catalog/ExportCommand.java		@rzwiefel
catalog/core/catalog-core-commands/src/main/java/org/codice/ddf/commands/catalog/ImportCommand.java		@rzwiefel

catalog/core/catalog-core-contentresourcereader/    @codice/core-apis @stustison

catalog/core/catalog-core-localstorageprovider/	    @codice/core-apis @stustison

catalog/core/catalog-core-standardframework/src/main/**/impl/		  @codice/core-apis @stustison
catalog/core/catalog-core-standardframework/src/main/**/resource/     @codice/core-apis @stustison
catalog/core/catalog-core-standardframework/src/main/java/ddf/catalog/history/		@rzwiefel

catalog/core/catalog-core-validationparser/ 	@rzwiefel

catalog/core/catalog-core-versioning/*				@rzwiefel

catalog/opensearch/	            @stustison

catalog/rest/		            @stustison

catalog/security/		        @codice/security @stustison

catalog/spatial/csw/            @bdeining

catalog/spatial/registry/       @clockard

catalog/ui/catalog-ui-search/                   @andrewkfiedler
catalog/ui/catalog-ui-search/pom.xml            @andrewkfiedler @rzwiefel
catalog/ui/catalog-ui-search/src/**/java/       @rzwiefel
catalog/ui/catalog-ui-search/src/**/resources/  @rzwiefel

catalog/ui/search-ui/standard/	@stustison

###############################
# PLATFORM
###############################

platform/admin/		                    @stustison

platform/admin/configurator/            @coyotesqrl

platform/error/		                    @stustison

platform/parser/                        @coyotesqrl

platform/platform-filter-delegate/	    @codice/security @stustison

platform/platform-http-proxy/	        @stustison

platform/platform-paxweb-jettyconfig/	@stustison

platform/security/		                @codice/security @stustison

platform/util/			                @stustison
