Repository codice/ddf, changes with the owners that CODEOWNERS names for each.
All owners: @stustison, @ricklarsen, @codice/test, @codice/core-apis, @rzwiefel, @codice/security, @bdeining, @clockard, @andrewkfiedler, @coyotesqrl

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# For more information on CODEOWNERS, see https://help.github.com/articles/about-codeowners/

# Order is important; the last matching pattern takes the most precedence.
# Within each subsection, keep all pattern matches in strict alphabetical order
# to ensure they go from least to most granular. Additionally when adding a more granular pattern,
# you must explicitly add any users/groups marked on broader patterns. Example:
# Given a file starting as
# ===
# catalog/core/                  @user1
# distribution/docs/             @user2
# ===
# When updating to add a pattern match for catalog/core/catalog-core-api for user3, it SHOULD be
# updated to read
# ===
# catalog/core/                  @user1
# catalog/core/catalog-core-api/ @user3 @user1
# distribution/docs/             @user2
# ===
# If user1 were not added to the newly added, more granular match, they would be tagged on all changes
# within the catalog/core/** hierarchy EXCEPT FOR those within catalog/core/catalog-core-api/**.
# Exceptions may be made to this rule on a case-by-case basis with the input of the more general
# codeowners.
#
# Order is important; the last matching pattern takes the most precedence.


###############################
# DISTRIBUTION
###############################

distribution/ddf-common/    @stustison

distribution/docs/          @ricklarsen

distribution/test/          @codice/test


###############################
# CATALOG
###############################

catalog/core/                   @codice/core-apis

catalog/core/catalog-core-commands/src/main/java/org/codice/ddf/commands/catalog/ExportCommand.java		@rzwiefel
catalog/core/catalog-core-commands/src/main/java/org/codice/ddf/commands/catalog/ImportCommand.java		@rzwiefel

catalog/core/catalog-core-contentresourcereader/    @codice/core-apis @stustison

catalog/core/catalog-core-localstorageprovider/	    @codice/core-apis @stustison

catalog/core/catalog-core-standardframework/src/main/**/impl/		  @codice/core-apis @stustison
catalog/core/catalog-core-standardframework/src/main/**/resource/     @codice/core-apis @stustison
catalog/core/catalog-core-standardframework/src/main/java/ddf/catalog/history/		@rzwiefel

catalog/core/catalog-core-validationparser/ 	@rzwiefel

catalog/core/catalog-core-versioning/*				@rzwiefel

catalog/opensearch/	            @stustison

catalog/rest/		            @stustison

catalog/security/		        @codice/security @stustison

catalog/spatial/csw/            @bdeining

catalog/spatial/registry/       @clockard

catalog/ui/catalog-ui-search/                   @andrewkfiedler
catalog/ui/catalog-ui-search/pom.xml            @andrewkfiedler @rzwiefel
catalog/ui/catalog-ui-search/src/**/java/       @rzwiefel
catalog/ui/catalog-ui-search/src/**/resources/  @rzwiefel

catalog/ui/search-ui/standard/	@stustison

###############################
# PLATFORM
###############################

platform/admin/		                    @stustison

platform/admin/configurator/            @coyotesqrl

platform/error/		                    @stustison

platform/parser/                        @coyotesqrl

platform/platform-filter-delegate/	    @codice/security @stustison

platform/platform-http-proxy/	        @stustison

platform/platform-paxweb-jettyconfig/	@stustison

platform/security/		                @codice/security @stustison

platform/util/			                @stustison

DDF-3142 - updated property referenced entries documentation
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ExportMigrationContext.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ExportMigrationEntry.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ExportMigrationException.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ImportMigrationContext.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ImportMigrationEntry.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ImportMigrationException.java
Owners: none

DDF-3142 - added suppressions for some Codacy non-issues
  platform/migration/platform-migration/src/test/java/org/codice/ddf/test/util/ThrowableMatchers.java
Owners: none

DDF-3142 - fixed for Codacy violations and attempts at suppressing some
  platform/admin/core/admin-core-migration-commands/src/main/java/org/codice/ddf/migration/commands/ExportCommand.java
  platform/admin/core/admin-core-migration-commands/src/main/java/org/codice/ddf/migration/commands/ImportCommand.java
  platform/admin/core/admin-core-migration-commands/src/main/java/org/codice/ddf/migration/commands/MigrationCommands.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ImportMigrationConfigurationAdminContext.java
Owners: @stustison

DDF-3142 - updated with review comments
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/CompoundMigrationException.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/Migratable.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationEntry.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationException.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationInformation.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationMessage.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationReport.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationWarning.java
  platform/migration/platform-migratable-api/src/test/java/org/codice/ddf/migration/CompoundMigrationExceptionTest.java
  platform/migration/platform-migratable-api/src/test/java/org/codice/ddf/migration/MigrationExceptionTest.java
  platform/migration/platform-migratable-api/src/test/java/org/codice/ddf/migration/MigrationInformationTest.java
  platform/migration/platform-migratable-api/src/test/java/org/codice/ddf/migration/MigrationSuccessfulInformationTest.java
  platform/migration/platform-migratable-api/src/test/java/org/codice/ddf/migration/MigrationWarningTest.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ConfigurationMigrationManager.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/Messages.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/MigrationReportImpl.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/AbstractMigrationTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/MigrationReportImplTest.java
Owners: none

DDF-3142 - added suppressions for some Codacy non-issues
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ImportMigrationConfigurationAdminContext.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ConfigurationMigrationManager.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationContextImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationReportImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationContextImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationExternalEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/MigrationContextImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/MigrationEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/MigrationReportImpl.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationJavaPropertyReferencedEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationSystemPropertyReferencedEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/test/util/ThrowableMatchers.java
Owners: none

DDF-3142 - removed missed exception
  platform/migration/platform-migratable-api/pom.xml
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ImportMigrationException.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationManagerImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/JsonUtils.java
Owners: none

DDF-3142 - added suppressions for some Codacy non-issues
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/JsonUtils.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/MigrationContextImpl.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ImportMigrationJavaPropertyReferencedEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/test/util/ThrowableMatchers.java
Owners: none

DDF-3142 - fixed migration exeption constructor issue and added migratable info messages during export and import
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationException.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationContextImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationContextImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/JsonUtils.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/Messages.java
  platform/migration/platform-migration/src/main/resources/OSGI-INF/blueprint/blueprint.xml
Owners: none

DDF-3142 - updated with review comments
  distribution/docs/src/main/jdocs/content/_configuring/importing-exported-configurations-contents.adoc
  distribution/docs/src/main/resources/_contents/_apis/migration-api-contents.adoc
  distribution/docs/src/main/resources/_contents/_configuring/importing-exported-configurations-contents.adoc
  platform/admin/core/admin-core-migration-commands/src/main/java/org/codice/ddf/migration/commands/ExportCommand.java
  platform/migration/platform-migratable-api/pom.xml
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/CompoundMigrationException.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ExportMigrationContext.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ExportMigrationEntry.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ImportMigrationContext.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ImportMigrationEntry.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/Migratable.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationException.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationInformation.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationReport.java
  platform/migration/platform-migratable-api/src/test/java/org/codice/ddf/migration/ExportMigrationContextTest.java
  platform/migration/platform-migration/pom.xml
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ConfigurationAdminMigratable.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ExportMigrationConfigurationAdminContext.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ImportMigrationConfigurationAdminContext.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ConfigurationMigrationManager.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationJavaPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationManagerImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationSystemPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationContextImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationManagerImpl.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ImportMigrationContextImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/test/util/ThrowableMatchers.java
Owners: @ricklarsen, @stustison

DDF-3142 - added ddf.home to exported metadata.
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationException.java
  platform/migration/platform-migration/pom.xml
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationManagerImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/Messages.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/MigrationContextImpl.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationManagerImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ImportMigrationManagerImplTest.java
Owners: none

DDF-3142 - fixed Windows related issues
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ConfigurationMigrationManager.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationEntryImpl.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/admin/ConfigurationAdminMigratableTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ConfigurationMigrationManagerTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ImportMigrationEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/PathUtilsTest.java
Owners: none

DDF-3142 - completed test cases for migration framework
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationJavaPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationSystemPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/Messages.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/AbstractMigrationTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ImportMigrationJavaPropertyReferencedEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ImportMigrationSystemPropertyReferencedEntryImplTest.java
Owners: none

DDF-3142 - fixed windows issues
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationContextImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationJavaPropertyReferencedEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationManagerImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationSystemPropertyReferencedEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ImportMigrationContextImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ImportMigrationEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/PathUtilsTest.java
Owners: none

DDF-3142 - updated with review comments
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ExportMigrationConfigurationAdminContext.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ImportMigrationConfigurationAdminContext.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ConfigurationMigrationManager.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ConfigurationMigrationManagerTest.java
Owners: none

DDF-3142 - removed compound exception in favor of simply adding all subsequent recorded exceptions as suppressed exceptions to the first one.
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationReport.java
  platform/migration/platform-migratable-api/src/test/java/org/codice/ddf/migration/CompoundMigrationExceptionTest.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/MigrationReportImpl.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/MigrationReportImplTest.java
Owners: none

DDF-3142 - last batch of test cases for migration commands. simplification of migration commands
  platform/admin/core/admin-core-migration-commands/pom.xml
  platform/admin/core/admin-core-migration-commands/src/main/java/org/codice/ddf/migration/commands/ExportCommand.java
  platform/admin/core/admin-core-migration-commands/src/main/java/org/codice/ddf/migration/commands/ImportCommand.java
  platform/admin/core/admin-core-migration-commands/src/main/java/org/codice/ddf/migration/commands/MigrationCommand.java
  platform/admin/core/admin-core-migration-commands/src/test/java/org/codice/ddf/migration/commands/AbstractMigrationCommandTest.java
  platform/admin/core/admin-core-migration-commands/src/test/java/org/codice/ddf/migration/commands/ImportCommandTest.java
  platform/admin/core/admin-core-migration-commands/src/test/java/org/codice/ddf/migration/commands/MigrationCommandTest.java
Owners: @stustison

DDF-3142 - renamed store() to restore() in import migration entries
  platform/migration/platform-migratable-api/pom.xml
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ImportMigrationContext.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ImportMigrationEntry.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ProxyImportMigrationEntry.java
  platform/migration/platform-migratable-api/src/test/java/org/codice/ddf/migration/ImportMigrationEntryTest.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ConfigurationAdminMigratable.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ImportMigrationConfigurationAdminEntry.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationExternalEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/MigrationEntryImpl.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ConfigurationMigrationManagerTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ImportMigrationEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ImportMigrationExternalEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ImportMigrationPropertyReferencedEntryImplTest.java
  platform/platform-migratable/src/main/java/org/codice/ddf/platform/migratable/impl/PlatformMigratable.java
  platform/security/security-migratable/src/main/java/org/codice/ddf/security/migratable/impl/SecurityMigratable.java
Owners: @codice/security, @stustison

DDF-3142 - updated with review comments
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/CompoundMigrationException.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ExportMigrationContextProxy.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ExportMigrationEntryProxy.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ImportMigrationContextProxy.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ImportMigrationEntryProxy.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationContextProxy.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationEntryProxy.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationException.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationInformation.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationOperation.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationSuccessfulInformation.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationWarning.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ConfigurationAdminMigratable.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ExportMigrationConfigurationAdminContext.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ExportMigrationConfigurationAdminEntry.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ImportMigrationConfigurationAdminContext.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ImportMigrationConfigurationAdminEntry.java
Owners: none

DDF-3142 - updated with review comments
  distribution/docs/src/main/jdocs/content/_configuring/importing-exported-configurations-contents.adoc
  distribution/docs/src/main/resources/_contents/_configuring/importing-exported-configurations-contents.adoc
  distribution/test/itests/test-itests-ddf/src/test/java/ddf/test/itests/ContainerPerSuiteItestSuite.java
  distribution/test/itests/test-itests-ddf/src/test/java/ddf/test/itests/platform/TestConfiguration.java
  platform/admin/core/admin-core-migration-commands/src/main/java/org/codice/ddf/migration/commands/ExportCommand.java
  platform/admin/core/admin-core-migration-commands/src/main/java/org/codice/ddf/migration/commands/ImportCommand.java
  platform/admin/core/admin-core-migration-commands/src/main/java/org/codice/ddf/migration/commands/MigrationCommand.java
  platform/admin/core/admin-core-migration-commands/src/test/java/org/codice/ddf/migration/commands/ExportCommandTest.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ExportMigrationContext.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ExportMigrationEntry.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ImportMigrationContext.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ImportMigrationEntry.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationEntry.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationReport.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ProxyExportMigrationEntry.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ProxyImportMigrationEntry.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ProxyMigrationEntry.java
  platform/migration/platform-migratable-api/src/test/java/org/codice/ddf/migration/ExportMigrationEntryTest.java
  platform/migration/platform-migratable-api/src/test/java/org/codice/ddf/migration/ImportMigrationEntryTest.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ConfigurationAdminMigratable.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ConfigurationMigrationManager.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ConfigurationMigrationService.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationReportImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/MigrationReportImpl.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ConfigurationMigrationManagerTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ImportMigrationJavaPropertyReferencedEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/MigrationReportImplTest.java
  platform/platform-migratable/src/main/java/org/codice/ddf/platform/migratable/impl/PlatformMigratable.java
  platform/security/security-migratable/src/main/java/org/codice/ddf/security/migratable/impl/SecurityMigratable.java
Owners: @ricklarsen, @codice/test, @stustison, @codice/security

DDF-3142 - fixed Windows related issues
  platform/security/security-migratable/src/test/java/org/codice/ddf/security/migratable/impl/SecurityMigratableTest.java
Owners: @codice/security, @stustison

DDF-3142 - updated with review comments
  distribution/docs/src/main/resources/_contents/_apis/migration-api-contents.adoc
  platform/admin/core/admin-core-migration-commands/src/test/java/org/codice/ddf/migration/commands/AbstractMigrationCommandTest.java
  platform/admin/core/admin-core-migration-commands/src/test/java/org/codice/ddf/migration/commands/ExportCommandTest.java
  platform/admin/core/admin-core-migration-commands/src/test/java/org/codice/ddf/migration/commands/ImportCommandTest.java
  platform/admin/core/admin-core-migration-commands/src/test/java/org/codice/ddf/migration/commands/MigrationCommandTest.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ExportMigrationContext.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ExportMigrationEntry.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ImportMigrationEntry.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/Migratable.java
  platform/migration/platform-migratable-api/src/test/java/org/codice/ddf/migration/MigratableTest.java
  platform/migration/platform-migratable-api/src/test/java/org/codice/ddf/migration/MigrationReportTest.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ConfigurationAdminMigratable.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationManagerImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationManagerImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/MigrationContextImpl.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/admin/ConfigurationAdminMigratableTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/AbstractMigrationReportTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/AbstractMigrationTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationJavaPropertyReferencedEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationManagerImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationPropertyReferencedEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationReportImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationSystemPropertyReferencedEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ImportMigrationContextImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ImportMigrationManagerImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ImportMigrationPropertyReferencedEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ImportMigrationSystemPropertyReferencedEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/MigrationContextImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/MigrationEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/PathUtilsTest.java
  platform/platform-migratable/src/main/java/org/codice/ddf/platform/migratable/impl/PlatformMigratable.java
  platform/platform-migratable/src/test/java/org/codice/ddf/platform/migratable/impl/PlatformMigratableTest.java
  platform/security/security-migratable/src/main/java/org/codice/ddf/security/migratable/impl/SecurityMigratable.java
  platform/security/security-migratable/src/test/java/org/codice/ddf/security/migratable/impl/SecurityMigratableTest.java
Owners: @ricklarsen, @stustison, @codice/security

DDF-3142 - fixed Windows related issues and fixed parameter order for messages
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationJavaPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/admin/ConfigurationAdminMigratableTest.java
  platform/platform-migratable/src/test/java/org/codice/ddf/platform/migratable/impl/PlatformMigratableTest.java
  platform/security/security-migratable/src/test/java/org/codice/ddf/security/migratable/impl/SecurityMigratableTest.java
Owners: @codice/security, @stustison

DDF-3142 - fixed Windows related issues
  platform/platform-migratable/src/test/java/org/codice/ddf/platform/migratable/impl/PlatformMigratableTest.java
Owners: none

DDF-3142 - fixed Windows related issues
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ImportMigrationEntryImplTest.java
Owners: none

DDF-3142 - updated with review comments
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationManagerImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationPropertyReferencedEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationReportImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationSystemPropertyReferencedEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ImportMigrationContextImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ImportMigrationEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ImportMigrationExternalEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ImportMigrationJavaPropertyReferencedEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ImportMigrationManagerImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ImportMigrationPropertyReferencedEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ImportMigrationSystemPropertyReferencedEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/MigrationContextImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/MigrationEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/MigrationReportImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/PathUtilsTest.java
Owners: none

DDF-3142 - addressed checkstyle issues
  platform/migration/platform-migration/pom.xml
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ImportMigrationConfigurationAdminContext.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ImportMigrationConfigurationAdminEntry.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationContextImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationReportImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationSystemPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationJavaPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationManagerImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationSystemPropertyReferencedEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/MigrationContextImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/MigrationEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/MigrationReportImpl.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/admin/ConfigurationAdminMigratableTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/AbstractMigrationReportTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationContextImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationJavaPropertyReferencedEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationManagerImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationPropertyReferencedEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationReportImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationSystemPropertyReferencedEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ImportMigrationContextImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ImportMigrationManagerImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ImportMigrationPropertyReferencedEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ImportMigrationSystemPropertyReferencedEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/JsonUtilsTest.java
  platform/platform-migratable/src/test/java/org/codice/ddf/platform/migratable/impl/PlatformMigratableTest.java
  platform/security/security-migratable/src/test/java/org/codice/ddf/security/migratable/impl/SecurityMigratableTest.java
Owners: @codice/security, @stustison

DDF-3142 - fixed bug where external entries were recorded 3 times in metadata and had an empty zip entry created
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationEntryImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/MigrationReportImpl.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/admin/ConfigurationAdminMigratableTest.java
  platform/platform-migratable/src/test/java/org/codice/ddf/platform/migratable/impl/PlatformMigratableTest.java
  platform/security/security-migratable/src/test/java/org/codice/ddf/security/migratable/impl/SecurityMigratableTest.java
Owners: @codice/security, @stustison

DDF-3142 - updated with review comments
  platform/admin/core/admin-core-migration-commands/src/test/java/org/codice/ddf/migration/commands/AbstractMigrationCommandTest.java
  platform/admin/core/admin-core-migration-commands/src/test/java/org/codice/ddf/migration/commands/ExportCommandTest.java
  platform/admin/core/admin-core-migration-commands/src/test/java/org/codice/ddf/migration/commands/ImportCommandTest.java
  platform/admin/core/admin-core-migration-commands/src/test/java/org/codice/ddf/migration/commands/MigrationCommandTest.java
  platform/migration/platform-migratable-api/src/test/java/org/codice/ddf/migration/ExportMigrationContextTest.java
  platform/migration/platform-migratable-api/src/test/java/org/codice/ddf/migration/ExportMigrationEntryTest.java
  platform/migration/platform-migratable-api/src/test/java/org/codice/ddf/migration/ImportMigrationEntryTest.java
  platform/migration/platform-migratable-api/src/test/java/org/codice/ddf/migration/MigratableTest.java
  platform/migration/platform-migratable-api/src/test/java/org/codice/ddf/migration/MigrationExceptionTest.java
  platform/migration/platform-migratable-api/src/test/java/org/codice/ddf/migration/MigrationInformationTest.java
  platform/migration/platform-migratable-api/src/test/java/org/codice/ddf/migration/MigrationReportTest.java
  platform/migration/platform-migratable-api/src/test/java/org/codice/ddf/migration/MigrationSuccessfulInformationTest.java
  platform/migration/platform-migratable-api/src/test/java/org/codice/ddf/migration/MigrationWarningTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/AbstractMigrationReportTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/AbstractMigrationTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ConfigurationMigrationManagerTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationContextImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationJavaPropertyReferencedEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationManagerImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationPropertyReferencedEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationReportImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ExportMigrationSystemPropertyReferencedEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ImportMigrationContextImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ImportMigrationEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ImportMigrationExternalEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ImportMigrationJavaPropertyReferencedEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ImportMigrationManagerImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ImportMigrationSystemPropertyReferencedEntryImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/MigrationContextImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/MigrationReportImplTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/PathUtilsTest.java
Owners: @stustison

DDF-3142 - addressed checkstyle issues
  platform/platform-migratable/src/main/java/org/codice/ddf/platform/migratable/impl/PlatformMigratable.java
  platform/security/security-migratable/src/main/java/org/codice/ddf/security/migratable/impl/SecurityMigratable.java
Owners: @codice/security, @stustison

DDF-3142 Fixing a bug in the ConfigAdminMigratable code
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ExportMigrationConfigurationAdminContext.java
Owners: none

DDF-3142 - addressed code review comments. removed auto-export at import time.
  distribution/docs/src/main/jdocs/content/_configuring/importing-exported-configurations-contents.adoc
  distribution/docs/src/main/resources/_contents/_configuring/importing-exported-configurations-contents.adoc
  platform/admin/core/admin-core-migration-commands/src/main/java/org/codice/ddf/migration/commands/ExportCommand.java
  platform/admin/core/admin-core-migration-commands/src/main/java/org/codice/ddf/migration/commands/MigrationCommand.java
  platform/admin/core/admin-core-migration-commands/src/test/java/org/codice/ddf/migration/commands/AbstractMigrationCommandTest.java
  platform/admin/core/admin-core-migration-commands/src/test/java/org/codice/ddf/migration/commands/ExportCommandTest.java
  platform/admin/core/admin-core-migration-commands/src/test/java/org/codice/ddf/migration/commands/ImportCommandTest.java
  platform/admin/core/admin-core-migration-commands/src/test/java/org/codice/ddf/migration/commands/MigrationCommandTest.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationException.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationInformation.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationWarning.java
  platform/migration/platform-migratable-api/src/test/java/org/codice/ddf/migration/MigratableTest.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ConfigurationMigrationManager.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/Messages.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/MigrationReportImpl.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/admin/ConfigurationAdminMigratableTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ConfigurationMigrationManagerTest.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/MigrationReportImplTest.java
  platform/platform-migratable/src/test/java/org/codice/ddf/platform/migratable/impl/PlatformMigratableTest.java
Owners: @ricklarsen, @stustison

DDF-3142 Removed unneeded dependency
  platform/migration/platform-migration/pom.xml
Owners: none

DDF-3142 - updated with review comments. Removed proxies.
  distribution/docs/src/main/jdocs/content/_configuring/configuring-from-import-intro-contents.adoc
  distribution/docs/src/main/jdocs/content/_configuring/exporting-existing-configurations-contents.adoc
  distribution/docs/src/main/jdocs/content/_configuring/importing-exported-configurations-contents.adoc
  distribution/docs/src/main/resources/_contents/_apis/migration-api-contents.adoc
  distribution/docs/src/main/resources/_contents/_configuring/configuring-from-import-intro-contents.adoc
  distribution/docs/src/main/resources/_contents/_configuring/exporting-existing-configurations-contents.adoc
  distribution/docs/src/main/resources/_contents/_configuring/importing-exported-configurations-contents.adoc
  platform/admin/core/admin-core-migration-commands/src/main/java/org/codice/ddf/migration/commands/ImportCommand.java
  platform/migration/platform-migratable-api/pom.xml
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ExportMigrationContextProxy.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ExportMigrationEntryProxy.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ImportMigrationContextProxy.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ImportMigrationEntryProxy.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationContextProxy.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationEntryProxy.java
  platform/migration/platform-migration/pom.xml
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ConfigurationAdminMigratable.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ExportMigrationConfigurationAdminContext.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ExportMigrationConfigurationAdminEntry.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ImportMigrationConfigurationAdminContext.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ImportMigrationConfigurationAdminEntry.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ConfigurationMigrationManager.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ConfigurationMigrationService.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationContextImpl.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/admin/ConfigurationAdminMigratableTest.java
Owners: @ricklarsen, @stustison

DDF-3142 - updated with review comments.
  distribution/docs/src/main/jdocs/content/_configuring/exporting-existing-configurations-contents.adoc
  distribution/docs/src/main/resources/_contents/_configuring/exporting-existing-configurations-contents.adoc
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ExportMigrationEntry.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ImportMigrationContext.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ImportMigrationEntry.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationException.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationEntryImpl.java
Owners: @ricklarsen

DDF-3142 - protected against known issue in Karaf when a managed service factory was not properly created in cfg admin
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ConfigurationAdminMigratable.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ExportMigrationConfigurationAdminContext.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ExportMigrationConfigurationAdminEntry.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ImportMigrationConfigurationAdminContext.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ImportMigrationConfigurationAdminEntry.java
Owners: none

DDF-3142 udated with review comments and fixed Codacy issues
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ImportMigrationConfigurationAdminContext.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ConfigurationMigrationManager.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ConfigurationMigrationManagerTest.java
Owners: none

DDF-3142 - addressed review comments
  distribution/docs/src/main/resources/_contents/_apis/migration-api-contents.adoc
  platform/admin/core/admin-core-migration-commands/src/main/java/org/codice/ddf/migration/commands/ExportCommand.java
  platform/admin/core/admin-core-migration-commands/src/main/java/org/codice/ddf/migration/commands/ImportCommand.java
  platform/admin/core/admin-core-migration-commands/src/main/java/org/codice/ddf/migration/commands/MigrationCommand.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ExportMigrationContext.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ExportMigrationEntry.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ImportMigrationContext.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/ImportMigrationEntry.java
  platform/migration/platform-migratable-api/src/main/java/org/codice/ddf/migration/MigrationReport.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ExportMigrationConfigurationAdminContext.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ImportMigrationConfigurationAdminContext.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/admin/ImportMigrationConfigurationAdminEntry.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ConfigurationMigrationManager.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ConfigurationMigrationManagerMBean.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ConfigurationMigrationService.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationContextImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ExportMigrationReportImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/ImportMigrationContextImpl.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/JsonUtils.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/Messages.java
  platform/migration/platform-migration/src/main/java/org/codice/ddf/configuration/migration/MigrationReportImpl.java
  platform/migration/platform-migration/src/test/java/org/codice/ddf/configuration/migration/ImportMigrationContextImplTest.java
Owners: @ricklarsen, @stustison
