Repository codice/ddf, changes with the owners that CODEOWNERS names for each.
All owners: @stustison, @ricklarsen, @codice/test, @codice/core-apis, @rzwiefel, @codice/security, @bdeining, @clockard, @andrewkfiedler, @coyotesqrl

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# For more information on CODEOWNERS, see https://help.github.com/articles/about-codeowners/

# Order is important; the last matching pattern takes the most precedence.
# Within each subsection, keep all pattern matches in strict alphabetical order
# to ensure they go from least to most granular. Additionally when adding a more granular pattern,
# you must explicitly add any users/groups marked on broader patterns. Example:
# Given a file starting as
# ===
# catalog/core/                  @user1
# distribution/docs/             @user2
# ===
# When updating to add a pattern match for catalog/core/catalog-core-api for user3, it SHOULD be
# updated to read
# ===
# catalog/core/                  @user1
# catalog/core/catalog-core-api/ @user3 @user1
# distribution/docs/             @user2
# ===
# If user1 were not added to the newly added, more granular match, they would be tagged on all changes
# within the catalog/core/** hierarchy EXCEPT FOR those within catalog/core/catalog-core-api/**.
# Exceptions may be made to this rule on a case-by-case basis with the input of the more general
# codeowners.
#
# Order is important; the last matching pattern takes the most precedence.


###############################
# DISTRIBUTION
###############################

distribution/ddf-common/    @stustison

distribution/docs/          @ricklarsen

distribution/test/          @codice/test


###############################
# CATALOG
###############################

catalog/core/                   @codice/core-apis

catalog/core/catalog-core-commands/src/main/java/org/codice/ddf/commands/catalog/ExportCommand.java		@rzwiefel
catalog/core/catalog-core-commands/src/main/java/org/codice/ddf/commands/catalog/ImportCommand.java		@rzwiefel

catalog/core/catalog-core-contentresourcereader/    @codice/core-apis @stustison

catalog/core/catalog-core-localstorageprovider/	    @codice/core-apis @stustison

catalog/core/catalog-core-standardframework/src/main/**/impl/		  @codice/core-apis @stustison
catalog/core/catalog-core-standardframework/src/main/**/resource/     @codice/core-apis @stustison
catalog/core/catalog-core-standardframework/src/main/java/ddf/catalog/history/		@rzwiefel

catalog/core/catalog-core-validationparser/ 	@rzwiefel

catalog/core/catalog-core-versioning/*				@rzwiefel

catalog/opensearch/	            @stustison

catalog/rest/		            @stustison

catalog/security/		        @codice/security @stustison

catalog/spatial/csw/            @bdeining

catalog/spatial/registry/       @clockard

catalog/ui/catalog-ui-search/                   @andrewkfiedler
catalog/ui/catalog-ui-search/pom.xml            @andrewkfiedler @rzwiefel
catalog/ui/catalog-ui-search/src/**/java/       @rzwiefel
catalog/ui/catalog-ui-search/src/**/resources/  @rzwiefel

catalog/ui/search-ui/standard/	@stustison

###############################
# PLATFORM
###############################

platform/admin/		                    @stustison

platform/admin/configurator/            @coyotesqrl

platform/error/		                    @stustison

platform/parser/                        @coyotesqrl

platform/platform-filter-delegate/	    @codice/security @stustison

platform/platform-http-proxy/	        @stustison

platform/platform-paxweb-jettyconfig/	@stustison

platform/security/		                @codice/security @stustison

platform/util/			                @stustison

DDF-3233 Change the left More button to say "Back" for clarity
  catalog/ui/catalog-ui-search/src/main/webapp/component/paging/paging.hbs
Owners: @andrewkfiedler

DDF-3233 Add controls to query results list to step through server pages
  catalog/ui/catalog-ui-search/src/main/webapp/component/paging/paging.hbs
  catalog/ui/catalog-ui-search/src/main/webapp/component/paging/paging.less
  catalog/ui/catalog-ui-search/src/main/webapp/component/paging/paging.view.js
  catalog/ui/catalog-ui-search/src/main/webapp/component/query-feed/query-feed.view.js
  catalog/ui/catalog-ui-search/src/main/webapp/component/result-selector/result-selector.view.js
  catalog/ui/catalog-ui-search/src/main/webapp/js/model/Metacard.js
  catalog/ui/catalog-ui-search/src/main/webapp/js/model/Query.js
Owners: @andrewkfiedler

DDF-3233 Show overall paging state (instead of just client page) at bottom of results bar
  catalog/ui/catalog-ui-search/src/main/webapp/component/paging/paging.view.js
  catalog/ui/catalog-ui-search/src/main/webapp/component/query-feed/query-feed.view.js
  catalog/ui/catalog-ui-search/src/main/webapp/component/result-selector/result-selector.view.js
  catalog/ui/catalog-ui-search/src/main/webapp/js/model/Metacard.js
  catalog/ui/catalog-ui-search/src/main/webapp/js/model/Query.js
Owners: @andrewkfiedler

Update PULL_REQUEST_TEMPLATE
  PULL_REQUEST_TEMPLATE
Owners: none

DDF-3208 Fixes Geospatial searches over OpenSearch endpoint (#2271)
  catalog/opensearch/catalog-opensearch-source/pom.xml
  catalog/opensearch/catalog-opensearch-source/src/main/java/ddf/catalog/source/opensearch/impl/OpenSearchFilterVisitor.java
  catalog/opensearch/catalog-opensearch-source/src/test/java/ddf/catalog/source/opensearch/impl/TestOpenSearchFilterVisitor.java
Owners: @stustison

DDF-3251 Reject invalid attributes values and log them
  catalog/ui/catalog-ui-search/src/main/java/org/codice/ddf/catalog/ui/config/ConfigurationApplication.java
Owners: @rzwiefel

DDF-3233 Add server-side paging to search results (#2245)
  catalog/ui/catalog-ui-search/src/main/webapp/component/paging/paging.hbs
  catalog/ui/catalog-ui-search/src/main/webapp/component/paging/paging.less
  catalog/ui/catalog-ui-search/src/main/webapp/component/paging/paging.view.js
  catalog/ui/catalog-ui-search/src/main/webapp/component/query-feed/query-feed.view.js
  catalog/ui/catalog-ui-search/src/main/webapp/js/model/Metacard.js
  catalog/ui/catalog-ui-search/src/main/webapp/js/model/Query.js
Owners: @andrewkfiedler

DDF-3251 Show item description as contextual help if available
  catalog/ui/catalog-ui-search/src/main/webapp/component/select/select.view.js
Owners: @andrewkfiedler

DDF-3261 Fixed indentation
  Jenkinsfile
Owners: none

DDF-3261 skip coverity except on master
  Jenkinsfile
Owners: none

DDF-3261 share common maven options
  Jenkinsfile
Owners: none

DDF-3261 added quickbuild as first step of incremental stage
  Jenkinsfile
Owners: none

DDF-3261 added stage for pomfix
  Jenkinsfile
Owners: none

DDF-3261 added withMaven to pomfix stage
  Jenkinsfile
Owners: none

DDF-3253 Updated CswRecordMapperFilterVisitor to use a configurable map
  catalog/spatial/csw/spatial-csw-endpoint/pom.xml
  catalog/spatial/csw/spatial-csw-endpoint/src/main/java/org/codice/ddf/spatial/ogc/csw/catalog/endpoint/mappings/CswRecordMapperFilterVisitor.java
  catalog/spatial/csw/spatial-csw-endpoint/src/main/java/org/codice/ddf/spatial/ogc/csw/catalog/endpoint/transformer/CswQueryFilterTransformer.java
  catalog/spatial/csw/spatial-csw-endpoint/src/test/java/org/codice/ddf/spatial/ogc/csw/catalog/endpoint/mappings/CswRecordMapperFilterVisitorTest.java
  distribution/test/itests/test-itests-common/src/main/java/org/codice/ddf/itests/common/csw/CswQueryBuilder.java
Owners: @bdeining, @codice/test

DDF-3253 Fixed namespace issue
  catalog/spatial/csw/spatial-csw-endpoint/pom.xml
  catalog/spatial/csw/spatial-csw-endpoint/src/main/java/org/codice/ddf/spatial/ogc/csw/catalog/endpoint/mappings/CswRecordMapperFilterVisitor.java
Owners: @bdeining

DDF-3253 Added CswRecordMap and updated visitor
  catalog/spatial/csw/spatial-csw-endpoint/src/main/java/org/codice/ddf/spatial/ogc/csw/catalog/endpoint/mappings/CswRecordMap.java
  catalog/spatial/csw/spatial-csw-endpoint/src/main/java/org/codice/ddf/spatial/ogc/csw/catalog/endpoint/mappings/CswRecordMapperFilterVisitor.java
  catalog/spatial/csw/spatial-csw-endpoint/src/main/java/org/codice/ddf/spatial/ogc/csw/catalog/endpoint/transformer/CswQueryFilterTransformer.java
  catalog/spatial/csw/spatial-csw-endpoint/src/test/java/org/codice/ddf/spatial/ogc/csw/catalog/endpoint/mappings/CswRecordMapperFilterVisitorTest.java
Owners: @bdeining

DDF-3253 Refactored CswQueryFilterTransformer
  catalog/spatial/csw/spatial-csw-endpoint/src/main/java/org/codice/ddf/spatial/ogc/csw/catalog/endpoint/mappings/MetacardCswRecordMap.java
  catalog/spatial/csw/spatial-csw-endpoint/src/main/java/org/codice/ddf/spatial/ogc/csw/catalog/endpoint/transformer/CswQueryFilterTransformer.java
  catalog/spatial/csw/spatial-csw-endpoint/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  catalog/spatial/csw/spatial-csw-endpoint/src/test/java/org/codice/ddf/spatial/ogc/csw/catalog/endpoint/CswQueryFactoryTest.java
  catalog/spatial/csw/spatial-csw-endpoint/src/test/java/org/codice/ddf/spatial/ogc/csw/catalog/endpoint/CswQueryFilterTransformerTest.java
  catalog/spatial/csw/spatial-csw-endpoint/src/test/java/org/codice/ddf/spatial/ogc/csw/catalog/endpoint/mappings/CswRecordMapperFilterVisitorTest.java
Owners: @bdeining

DDF-3253 Refactored packages
  catalog/spatial/csw/spatial-csw-endpoint/pom.xml
  catalog/spatial/csw/spatial-csw-endpoint/src/main/java/org/codice/ddf/spatial/ogc/csw/catalog/endpoint/mappings/MetacardCswRecordMap.java
  catalog/spatial/csw/spatial-csw-endpoint/src/main/java/org/codice/ddf/spatial/ogc/csw/catalog/endpoint/transformer/CswQueryFilterTransformer.java
  catalog/spatial/csw/spatial-csw-endpoint/src/main/java/org/codice/ddf/spatial/ogc/csw/catalog/endpoint/transformer/CswRecordMap.java
  catalog/spatial/csw/spatial-csw-endpoint/src/main/java/org/codice/ddf/spatial/ogc/csw/catalog/endpoint/transformer/CswRecordMapperFilterVisitor.java
  catalog/spatial/csw/spatial-csw-endpoint/src/test/java/org/codice/ddf/spatial/ogc/csw/catalog/endpoint/transformer/CswRecordMapperFilterVisitorTest.java
Owners: @bdeining

DDF-3253 Updated javadoc
  catalog/spatial/csw/spatial-csw-endpoint/src/main/java/org/codice/ddf/spatial/ogc/csw/catalog/endpoint/transformer/CswRecordMap.java
Owners: @bdeining

DDF-3251 PR fixes
  catalog/ui/catalog-ui-search/src/main/java/org/codice/ddf/catalog/ui/config/ConfigurationApplication.java
Owners: @rzwiefel

DDF-3253 Updated CswRecordMapperFilterVisitor to use a configurable map (#2278)
  catalog/spatial/csw/spatial-csw-endpoint/pom.xml
  catalog/spatial/csw/spatial-csw-endpoint/src/main/java/org/codice/ddf/spatial/ogc/csw/catalog/endpoint/mappings/MetacardCswRecordMap.java
  catalog/spatial/csw/spatial-csw-endpoint/src/main/java/org/codice/ddf/spatial/ogc/csw/catalog/endpoint/transformer/CswQueryFilterTransformer.java
  catalog/spatial/csw/spatial-csw-endpoint/src/main/java/org/codice/ddf/spatial/ogc/csw/catalog/endpoint/transformer/CswRecordMap.java
  catalog/spatial/csw/spatial-csw-endpoint/src/main/java/org/codice/ddf/spatial/ogc/csw/catalog/endpoint/transformer/CswRecordMapperFilterVisitor.java
  catalog/spatial/csw/spatial-csw-endpoint/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  catalog/spatial/csw/spatial-csw-endpoint/src/test/java/org/codice/ddf/spatial/ogc/csw/catalog/endpoint/CswQueryFactoryTest.java
  catalog/spatial/csw/spatial-csw-endpoint/src/test/java/org/codice/ddf/spatial/ogc/csw/catalog/endpoint/CswQueryFilterTransformerTest.java
  catalog/spatial/csw/spatial-csw-endpoint/src/test/java/org/codice/ddf/spatial/ogc/csw/catalog/endpoint/transformer/CswRecordMapperFilterVisitorTest.java
  distribution/test/itests/test-itests-common/src/main/java/org/codice/ddf/itests/common/csw/CswQueryBuilder.java
Owners: @bdeining, @codice/test

DDF-3054 Adds owasp suppression for CVE-2016-8739
  dependency-check-maven-config.xml
Owners: none

DDF-3263 Solr similarity configuration
  catalog/solr/catalog-solr-solrclient/pom.xml
  catalog/solr/catalog-solr-solrclient/src/main/java/ddf/catalog/source/solr/rest/SolrRest.java
  catalog/solr/catalog-solr-solrclient/src/main/java/ddf/catalog/source/solr/rest/SolrRestClient.java
  catalog/solr/catalog-solr-solrclient/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  catalog/solr/catalog-solr-solrclient/src/main/resources/OSGI-INF/metatype/metatype.xml
  catalog/solr/catalog-solr-solrclient/src/test/java/ddf/catalog/source/solr/rest/SolrRestTest.java
  catalog/solr/pom.xml
  catalog/solr/solr-app/pom.xml
  catalog/solr/solr-app/src/main/resources/features.xml
  distribution/test/itests/test-itests-ddf/pom.xml
  distribution/test/itests/test-itests-ddf/src/test/java/ddf/test/itests/catalog/TestCatalog.java
Owners: @codice/test

DDF-2917 Update caching to exclude base app pages and html (#1841)
  platform/platform-filter-response/src/main/java/org/codice/ddf/platform/response/filter/ResponseFilter.java
Owners: none

DDF-3223 Adds limit to attribute override size (#2228)
  catalog/rest/catalog-rest-endpoint/src/main/java/org/codice/ddf/endpoints/rest/RESTEndpoint.java
  catalog/rest/catalog-rest-endpoint/src/test/java/org/codice/ddf/endpoints/rest/TestRestEndpoint.java
  distribution/docs/src/main/jdocs/content/_tables/org.codice.ddf.catalog.content.monitor.ContentDirectoryMonitor-table-contents.adoc
Owners: @stustison, @ricklarsen

DDF-3239 Added collapsing to documentation TOC html (#2252)
  distribution/docs/src/main/jdocs/templates/documentation.ftl
  distribution/docs/src/main/resources/_contents/config.adoc
Owners: @ricklarsen

DDF-3263 Code review updates
  catalog/solr/catalog-solr-solrclient/src/main/java/ddf/catalog/source/solr/rest/SolrRest.java
  distribution/test/itests/test-itests-ddf/pom.xml
Owners: @codice/test

DDF-3251 Allow descriptive tooltips when selecting an attribute in advanced search (#2270)
  catalog/ui/catalog-ui-search/src/main/java/org/codice/ddf/catalog/ui/config/ConfigurationApplication.java
  catalog/ui/catalog-ui-search/src/main/resources/OSGI-INF/metatype/org.codice.ddf.catalog.ui.config.xml
  catalog/ui/catalog-ui-search/src/main/webapp/component/filter/filter.view.js
  catalog/ui/catalog-ui-search/src/main/webapp/component/select/select.hbs
  catalog/ui/catalog-ui-search/src/main/webapp/component/select/select.view.js
Owners: @rzwiefel, @andrewkfiedler

DDF-3227 standardize formatting for example URLs
  distribution/docs/src/main/jdocs/content/_application-references/managing-broker-app-contents.adoc
  distribution/docs/src/main/jdocs/content/_application-references/managing-geowebcache-contents.adoc
  distribution/docs/src/main/jdocs/content/_endpoints/catalog-rest-endpoint-contents.adoc
  distribution/docs/src/main/jdocs/content/_endpoints/cometd-endpoint-contents.adoc
  distribution/docs/src/main/jdocs/content/_endpoints/csw-endpoint-contents.adoc
  distribution/docs/src/main/jdocs/content/_endpoints/opensearch-endpoint-contents.adoc
  distribution/docs/src/main/jdocs/content/_quickstart/quickstart-certificates.adoc
  distribution/docs/src/main/jdocs/content/_sources/.asciidoctor/diagram/embedded-solr-diagram.png.cache
  distribution/docs/src/main/jdocs/content/_sources/.asciidoctor/diagram/http-solr-external-diagram.png.cache
  distribution/docs/src/main/jdocs/content/_sources/.asciidoctor/diagram/http-solr-internal-diagram.png.cache
  distribution/docs/src/main/jdocs/content/_sources/.asciidoctor/diagram/solrcloud-diagram.png.cache
  distribution/docs/src/main/jdocs/content/_sources/embedded-solr-diagram.png
  distribution/docs/src/main/jdocs/content/_sources/http-solr-external-diagram.png
  distribution/docs/src/main/jdocs/content/_sources/http-solr-internal-diagram.png
  distribution/docs/src/main/jdocs/content/_sources/solrcloud-diagram.png
  distribution/docs/src/main/jdocs/content/_tables/Confluence_Federated_Source-table-contents.adoc
Owners: @ricklarsen

DDF-3227 replaced 'localhost' in example urls in docs
  distribution/docs/src/main/jdocs/content/_application-references/managing-broker-app-contents.adoc
  distribution/docs/src/main/jdocs/content/_application-references/managing-geowebcache-contents.adoc
  distribution/docs/src/main/jdocs/content/_endpoints/catalog-rest-endpoint-contents.adoc
  distribution/docs/src/main/jdocs/content/_endpoints/ftp-endpoint-contents.adoc
  distribution/docs/src/main/jdocs/content/_running/starting-intro-contents.adoc
  distribution/docs/src/main/jdocs/content/_security-services/security-sts-server-contents.adoc
  distribution/docs/src/main/jdocs/content/_tables/OpenSearchSource-table-contents.adoc
  distribution/docs/src/main/jdocs/content/_tables/org.codice.ddf.catalog.security.ResourceUriPolicy-table-contents.adoc
  distribution/docs/src/main/jdocs/content/_tables/org.codice.ddf.catalog.ui.query.monitor.email.EmailNotifier-table-contents.adoc
  distribution/docs/src/main/resources/_contents/_broker/configure-ha.adoc
  distribution/docs/src/main/resources/_contents/_endpoints/catalog-rest-endpoint-contents.adoc
  distribution/docs/src/main/resources/_contents/_endpoints/ftp-endpoint-contents.adoc
  distribution/docs/src/main/resources/_contents/_geowebcache-contents/managing-geowebcache-contents.adoc
  distribution/docs/src/main/resources/_contents/_running/starting-intro-contents.adoc
  distribution/docs/src/main/resources/_contents/_security-framework/security-sts-server-contents.adoc
  distribution/docs/src/main/resources/_contents/_tables/OpenSearchSource-table-contents.adoc
  distribution/docs/src/main/resources/_contents/_tables/org.codice.ddf.catalog.ui.query.monitor.email.EmailNotifier-table-contents.adoc
  pom.xml
Owners: @ricklarsen

DDF-2824 fixed names of plugins in docs
  distribution/docs/src/main/jdocs/content/_catalog-frameworks/catalog-framework-intro-contents.adoc
  distribution/docs/src/main/jdocs/content/_plugins/audit-logging-plugin-contents.adoc
  distribution/docs/src/main/jdocs/content/_plugins/security-logging-plugin-contents.adoc
  distribution/docs/src/main/jdocs/content/_plugins/security-plugin-contents.adoc
  distribution/docs/src/main/jdocs/content/_sources/sources-intro-contents.adoc
Owners: @ricklarsen

DDF-3263 Update to use defined properties
  catalog/solr/catalog-solr-solrclient/src/main/java/ddf/catalog/source/solr/rest/SolrRest.java
Owners: none

DDF-3261 Added git longpath configuration to windows full build
  Jenkinsfile
Owners: none

DDF-3273 Secure DDF shell and ssh access.
  distribution/ddf-common/src/main/resources/common-bin.xml
  distribution/ddf-common/src/main/resources/etc/org.apache.karaf.command.acl.shell.cfg
  distribution/ddf-common/src/main/resources/etc/org.apache.karaf.command.acl.ssh.cfg
  distribution/ddf-common/src/main/resources/etc/org.apache.karaf.shell.cfg
  distribution/docs/src/main/jdocs/content/_configuring/environment-hardening-contents.adoc
  distribution/docs/src/main/jdocs/content/_configuring/hardening-user-access-contents.adoc
  distribution/docs/src/main/resources/_contents/_securing/hardening-user-access-contents.adoc
Owners: @stustison, @ricklarsen

DDF-3259 Moved SortBy normalization after the query transforms
  catalog/spatial/csw/spatial-csw-endpoint/src/main/java/org/codice/ddf/spatial/ogc/csw/catalog/endpoint/CswQueryFactory.java
  catalog/spatial/csw/spatial-csw-endpoint/src/test/java/org/codice/ddf/spatial/ogc/csw/catalog/endpoint/CswQueryFactoryTest.java
Owners: @bdeining

DDF-3259 PR changes
  catalog/spatial/csw/spatial-csw-endpoint/src/main/java/org/codice/ddf/spatial/ogc/csw/catalog/endpoint/CswQueryFactory.java
  catalog/spatial/csw/spatial-csw-endpoint/src/test/java/org/codice/ddf/spatial/ogc/csw/catalog/endpoint/CswQueryFactoryTest.java
Owners: @bdeining

DDF-3261 Updating pipeline to support multi-branch jobs (#2281)
  Jenkinsfile
Owners: none

DDF-2824 fixed names of plugins in docs (#2275)
  distribution/docs/src/main/jdocs/content/_catalog-frameworks/catalog-framework-intro-contents.adoc
  distribution/docs/src/main/jdocs/content/_plugins/audit-logging-plugin-contents.adoc
  distribution/docs/src/main/jdocs/content/_plugins/security-logging-plugin-contents.adoc
  distribution/docs/src/main/jdocs/content/_plugins/security-plugin-contents.adoc
  distribution/docs/src/main/jdocs/content/_sources/sources-intro-contents.adoc
Owners: @ricklarsen

DDF-3259 Replaced static DefaultCswRecordMap with an instance of CswRecordMap
  catalog/spatial/csw/spatial-csw-endpoint/src/main/java/org/codice/ddf/spatial/ogc/csw/catalog/endpoint/CswQueryFactory.java
  catalog/spatial/csw/spatial-csw-endpoint/src/main/java/org/codice/ddf/spatial/ogc/csw/catalog/endpoint/mappings/MetacardCswRecordMap.java
  catalog/spatial/csw/spatial-csw-endpoint/src/main/java/org/codice/ddf/spatial/ogc/csw/catalog/endpoint/transformer/CswRecordMap.java
  catalog/spatial/csw/spatial-csw-endpoint/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  catalog/spatial/csw/spatial-csw-endpoint/src/test/java/org/codice/ddf/spatial/ogc/csw/catalog/endpoint/CswQueryFactoryTest.java
Owners: @bdeining
